<template>
<div class="card-image-link">
  <div class="card-image-link__image">
    <img :src="image" alt="">
  </div>
  <div class="card-image-link__text">
    <h3 class="card-image-link__title">{{title}}</h3>
    <p class="card-image-link__desc">{{desc}}</p>
    <router-link :to='link' tag="a" class="link link--primary">
      En savoir plus
      <font-awesome-icon icon="arrow-right" class="icon" />
    </router-link>
  </div>
</div>
</template>

<script>
export default {
  name: "CardImage",
  props: ['image', 'title', 'desc', 'link']
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.card-image-link {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;

  @include breakpoint-up(sm) {
    width: 50%;
  }

  &__image,
  &__desc {
    margin: 0 auto;
  }

  &__image {
    width: 60%;

    @include breakpoint-up(sm) {
      height: 420px;
    }

    img {
      width: 100%;
    }
  }

  &__text {
    width: 100%;
  }

  &__title {
    font-weight: 500;
  }

  &__desc {
    width: 60%;
    margin: 1rem auto 2.5rem;
  }

  .link {
    position: relative;
  }
}
</style>
