<template>
<div class="uk-container uk-container-large page farmers" v-if="!loading">
  <client-only>
    <GoBack />
    <h1>{{farmerCategory.label}}</h1>
    <div class="bar__search">
      <!-- TO DO : The Search doesnt work -->
      <form class="uk-search uk-search-small ">
        <span uk-search-icon></span>
        <input class="uk-search-input" v-model="query" type="search" placeholder="Search...">
      </form>
    </div>

    <!-- farmer cards-->
    <section class="cards">
      <div class="cards-wrapper" v-for="farmer in farmerCategory.farmers" v-bind:key="farmer.id">
        <div class="card card-farmer">
          <div class="card-image" :style=" 'background-image:url(' + api_url + farmer.image.url + ');'  "></div>
          <div class="card-body">
            <p>{{farmer.postal}} {{farmer.postalName}}</p>
            <h2 class="card-body__title">{{farmer.name}}</h2>
            <ul class="card-body__categories categories">
              <Filters v-for="category in farmer.farmer_categories" :key="category.id" path="/farmer-categories/" :label="category.label" :id="category.id" :name="category.name" />
            </ul>

            <p class="card-farmer__desc">{{farmer.description}}</p>
            <router-link :to="{ name: 'farmers-id', params: { id: farmer.id }}" tag="a" class="link">
              <p>En savoir plus</p>
              <font-awesome-icon icon="arrow-right" class="icon" />
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </client-only>
</div>
</template>

<script>
import FarmerCategory from '~/apollo/queries/category/categoryFarmer'
import GoBack from '~/components/GoBack'
import Filters from '~/components/filters/Filters'

export default {
  components: {
    GoBack,
    Filters
  },
  apollo: {
    $loadingKey: 'loading',
    farmerCategory: {
      prefetch: true,
      query: FarmerCategory,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    }
  },
  data() {
    return {
      loading: 0,
      farmerCategory: {
        farmers: []
      },
      api_url: "http://localhost:4001",
    }
  },

  mounted() {},

  methods: {

  },

}
</script>
