<template>
<li :class=" 'category category--'+ name">
  <router-link :to="{ path: path + id }" :key="id">
    <span>{{ label }}</span>
  </router-link>
</li>
</template>

<script>
export default {
  name: 'Filters',
  props: ['id', 'name', 'label', 'path']
}
</script>
