<template>
<div class="profil page">
  <div class="uk-container uk-container-large">
    <div class="profil-image">
      <img :src="profil.img" :alt="profil.alt" />
    </div>
    <!-- TO DO : EDIT PROFILE
    <div class="profil-action">
      <font-awesome-icon icon="edit" />
      <font-awesome-icon icon="share-alt" />
    </div>
    -->
    <h1>{{ username }}</h1>
    <section class="profil-infos">
      <div>
        <font-awesome-icon icon="book" />
        <span>2 Recettes</span>
      </div>
      <div>
        <font-awesome-icon icon="heart" />
        <span>300 Aimes</span>
      </div>
      <div>
        <font-awesome-icon icon="users" />
        <span>35 Abonnés</span>
      </div>
    </section>
    <section class="profil-category">
      <ul class="categories">
        <li v-for="category in categories" :key="category.id" :class=" 'category category--'+ category.name">
          <router-link :to="{ path: '/category/' + category.id }" :key="category.id">
            <span>{{ category.label }}</span>
          </router-link>
        </li>
      </ul>
    </section>

    <!-- Recipes -->
    <div id="my-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- don't forget with using tha pi add api_url + -->
            <div class="modal-body__image" :style=" 'background-image:url(' + recipeSelected.image + ');'  "></div>
            <div class="modal-body__text">
              <h3 class="modal-body__title">{{recipeSelected.name}}</h3>
              <ul class="categories">
                <Filters v-for="category in recipeSelected.categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
              </ul>
              <p>{{recipeSelected.description}}</p>

              <!-- TO DO : CONNECT THIS -->
              <router-link to="#" tag="a" class="link">
                Voir la recette
                <font-awesome-icon icon="arrow-right" class="icon" />
              </router-link>
              <button type="button" class="btn btn-round btn-close" data-dismiss="modal" @click="closeModal()">X</button>

              <!-- TO DO : MAKE BUTTON DELETE AND EDIT IF IS THE SAME USER CONNECTED -->
            </div>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

    <!-- codes ommited -->
    <section>
      <h2>Les recettes que j'aime</h2>
      <div class="profil-recipes">
        <div class="profil-recipes__image" v-for="recipe in recipes" :key="recipe.id"  @click="openModal(recipe)" :style=" 'background-image: url(' + recipe.image.url+ ');' " />
      </div>
    </section>

  </div>

</div>
</template>

<script>
// Import the recipes query
import ModalProfilRecipe from '~/components/ModalProfilRecipe'
import UIkit from 'uikit'
import Filters from '~/components/filters/Filters'

export default {
  components: {
    Filters
  },
  data() {
    return {
      api_url: "http://localhost:4001",
      profil: {
        "img": "https://mixkit.imgix.net/art/preview/mixkit-woman-sitting-in-a-flower-bed-with-her-eyes-closed-91-original-large.png?q=80&auto=format%2Ccompress&h=700&q=80&dpr=1",
        "alt": "profile image"
      },
      categories: [{
          id: 3,
          label: "Sans Gluten",
          name: "no-gluten"
        },
        {
          id: 2,
          label: "Sans Lactose",
          name: "no-lactose"
        },
        {
          id: 4,
          label: "Végétarien",
          name: "vegetarian"
        }
      ],
      recipes: [{
          id: 1,
          name: "Cake au citron",
          description: "Ma super description",
          image: {
            url: "https://images.unsplash.com/photo-1590080874810-8180c3eb1016?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=816&q=80",
            alt: "lemon cake"
          },
          categories: [{
            id: 3,
            label: "Sans Gluten",
            name: "no-gluten"
          }, ]
        },
        {
          id: 2,
          name: "Cake à la fraise",
          description: "Ma super description",
          image: {
            url: "https://commentjaichangedevie.fr/wp-content/uploads/2017/06/cake-fraises.jpg",
            alt: "strawberries cake"
          },
          categories: [{
            id: 3,
            label: "Sans Gluten",
            name: "no-gluten"
          }, ]
        }
      ],
      recipeSelected: {
        name: "",
        description: "",
        image: "",
        categories: []
      }
    }
  },

  methods: {

    openModal(recipe) {
      this.recipeSelected.name = recipe.name;
      this.recipeSelected.description = recipe.description;
      this.recipeSelected.image = recipe.image.url;
      this.recipeSelected.categories = recipe.categories;
      console.log(this.recipeSelected.image)
      var element = document.getElementById("my-modal");
      element.classList.add("modal-open");
    },
    closeModal() {
      var element = document.getElementById("my-modal");
      element.classList.remove("modal-open");
    },
  },

  computed: {
    // Set your username thanks to your getter
    username() {
      return this.$store.getters['auth/username']
    },
    email() {
      return this.$store.getters['auth/email']
    },
    image() {
      return this.$store.getters['auth/image']
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.profil {
  margin: 8rem 10px;
  @include box-shadow;
  border-radius: 1rem;
  padding: 2.5rem 1rem;

  @include breakpoint-up(sm) {
    width: 80%;
    margin: 8rem auto
  }

  @include breakpoint-up(lg) {
    width: 60%;
  }

  &-image {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    @include box-shadow;
    overflow: hidden;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  &-recipes__recipe {
    width: 100%;
  }

  &-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint-up(sm) {
      justify-content: flex-start;
    }
  }

  &-recipes__image {
    width: 43%;
    height: 130px;
    overflow: hidden;
    float: left;
    margin: 10px;
    background-size: cover;

    @include breakpoint-up(sm) {
      width: 200px;
      height: 200px;
    }
  }

  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: $font-size-3xl;
  }

  .profil-infos {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    @include breakpoint-up(sm) {
      margin: 2rem 10%;
      justify-content: center;
    }

    &>div {
      width: 25%;
      text-align: center;
    }

    span {
      @include fontSize(18px);
      display: block;
      width: 100%;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
      color: $orange;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: $font-size-2xs;

    @include breakpoint-up(sm) {
      font-size: initial;
      justify-content: center;
    }

    li {
      margin: 0 2px 8px 0;

      @include breakpoint-up(sm) {
        margin: 0 8px 8px 0;
      }
    }
  }

  section {
    margin: 2.5rem 0;
  }

  h2 {
    border-top: 1px solid $cream;
    color: $grey;
    padding: 20px 0;
    margin-left: 10px;
    @include fontSize(20px);
    text-transform: uppercase;
    font-weight: 300;
  }

  /* Modal */
  #my-modal {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    transition: 0.5s all ease-in-out;
    border-radius: 1rem;
    overflow: hidden;
    @include box-shadow;
    width: 96%;

    @include breakpoint-up(sm) {
      width: 30%;
    }
  }

  #my-modal.modal-open {
    position: fixed;
    top: 16%;

    @include breakpoint-up(sm) {
      top: 15%;
    }
  }

  .modal-body {
    padding-bottom: 3rem;

    .btn-close {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .categories {
      justify-content: flex-start;
      margin-bottom: 1rem;

      .category {
        margin-left: 0;
      }
    }

    &__title {
      font-weight: 600;
      font-size: $font-size-xl;
      margin-bottom: 1rem;
    }

    &__image {
      width: 100%;
      height: 250px;
      background-position: center;
      background-size: cover;

      img {
        width: 100%;
      }
    }

    &__text {
      padding: 2rem 1.5rem;
    }
  }

}
</style>
