<template>
<div class="uk-container uk-container-large page" v-if="!loading">
  <client-only>
    <GoBack />
    <h1>{{category.label}}</h1>

    <div class="bar__search">
      <!-- TO DO : The Search doesnt work -->
      <form class="uk-search uk-search-small ">
        <span uk-search-icon></span>
        <input class="uk-search-input" v-model="query" type="search" placeholder="Search...">
      </form>
    </div>

    <section class="cards uk-container uk-container-large">
      <div class="cards-wrapper" v-for="recipe in category.recipes" :key="recipe.id">
        <div class="card card-recipe">
          <div class="card-image" :style=" 'background-image:url(' + api_url + recipe.image.url + ');'  "></div>
          <div class="card-body">
            <!-- TO DO : Info User & Date -->
            <div class="card-body__infos">
              <div class="card-recipe__user">
                <img :src=" api_url + recipe.user.image.url ">
                <span>{{ recipe.user.username }}</span>
              </div>
              <!--<div class="card__recipe-date">
            <span>{{recipe.created_at}}</span>
          </div>-->
            </div>

            <!-- 4 Recipes -->
            <h3 class="card-body__title">{{ recipe.name }}</h3>
            <ul class="card-body__categories categories">
              <Filters v-for="category in recipe.categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
            </ul>

            <!-- Link to the recipe using router-link-->
            <router-link :to="{ name: 'recipes-id', params: { id: recipe.id }}" tag="a" class="link">
              <p>Voir la recette</p>
              <font-awesome-icon icon="arrow-right" class="icon" />
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </client-only>
</div>
</template>

<script>
import categoryRecipeQuery from '~/apollo/queries/category/categoryRecipe'
import GoBack from '~/components/GoBack'
import Filters from '~/components/filters/Filters'

export default {
  components: {
    GoBack,
    Filters
  },
  apollo: {
    $loadingKey: 'loading',
    category: {
      prefetch: true,
      query: categoryRecipeQuery,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    }
  },
  data() {
    return {
      loading: 0,
      category: {},
      query: '',
      api_url: "http://localhost:4001",
    }
  },

  computed: {
    // Search system
  },

  mounted() {},

  methods: {

  },

}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.cards {
  margin: 0 10px;

  @include breakpoint-up(sm) {
    margin: 5rem 0;
    justify-content: flex-start;
  }

  &-wrapper {
    margin-bottom: 2rem;
  }
}
</style>
