<template>
<div v-if="!loading">
  <section class="welcome">
    <HomeSvg />
    <div class="welcome__text">
      <p class="welcome__user" v-if="username">Hi ! {{username}}</p>
      <h1 data-aos="fade-up">Bienvenue sur Mi<span>Food</span> !</h1>
      <!-- TO DO : faire la barre de recherche -->
      <!--<form class="inputsearch uk-search uk-search-small " data-aos="fade-up" data-aos-delay="200">
          <input class="uk-search-input" type="search" placeholder="Search...">
          <button type="submit"><span uk-search-icon></span></button>
        </form>-->
      <div data-aos="fade-up" data-aos-delay="300">
        <ul class="categories">
          <Filters v-for="category in categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
        </ul>
      </div>
    </div>

  </section>

  <section class="new-recipe new-recipe__text uk-container uk-container-large">
    <SectionTitle title="La cuisine fraîche pour l'été !" subtitle="nouvelle recette" />
  </section>

  <section class="cards uk-container uk-container-large">
    <div class="cards-wrapper" v-for="recipe in recipes" :key="recipe.id">
      <div class="card card-recipe">
        <div class="card-image" :style=" 'background-image:url(' + api_url + recipe.image.url + ');'  "></div>
        <div class="card-body">
          <!-- TO DO : Info User & Date -->
          <div class="card-body__infos">
            <div class="card-recipe__user">
              <img :src=" api_url + recipe.user.image.url ">
              <span>{{ recipe.user.username }}</span>
            </div>
            <div class="card__recipe-date">
              <span>{{recipe.created_at }}</span>
            </div>
          </div>

          <!-- 4 Recipes -->
          <h3 class="card-body__title">{{ recipe.name }}</h3>
          <ul class="card-body__categories categories">
            <Filters v-for="category in recipe.categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
          </ul>

          <!-- Link to the recipe using router-link-->
          <router-link :to="{ name: 'recipes-id', params: { id: recipe.id }}" tag="a" class="link">
            <p>Voir la recette</p>
            <font-awesome-icon icon="arrow-right" class="icon" />
          </router-link>
        </div>
      </div>
    </div>
  </section>

  <section class="new-recipe new-recipe__text uk-container uk-container-large">
    <SectionTitle title="Favorisez les produits locaux" subtitle="découvrir" />
  </section>

  <section class="cards-images uk-container uk-container-large">
    <CardImage calss="calendar" :image="require(`@/static/woman.svg`)" link="/calendar" title="Cuisiner en toute saison" desc="Avec le calendrier, vous saurez quand est-ce la période de votre légume favoris" />
    <CardImage class="farmer" :image="require(`@/static/farmer.svg`)" link="/farmers" title="Des producteurs locaux" desc="Trouvez les producteurs locaux proches de chez vous" />
  </section>
</div>
</template>

<script>
import OneRecipe from '~/apollo/queries/recipe/recipeHome'
import CategoriesRecipeQuery from '~/apollo/queries/category/categoriesRecipe'
import {
  mapMutations
} from 'vuex';
import SectionTitle from '~/components/SectionTitle'
import Filters from '~/components/filters/Filters'
import HomeSvg from '~/components/HomeSvg'
import CardImage from '~/components/cards/CardImage'

export default {
  components: {
    Filters,
    HomeSvg,
    CardImage,
    SectionTitle
  },
  data() {
    return {
      // Initialize an empty recipes variable
      loading: 0,
      recipes: [],
      categories: [],
      query: '',
      api_url: "http://localhost:4001",
      flickityOptions: {
        prevNextButtons: true,
        pageDots: true,
        draggable: true,
        initialIndex: 1,
        setGallerySize: true
      }
    }
  },

  computed: {
    // Set your username thanks to your getter
    username() {
      return this.$store.getters['auth/username']
    }
  },

  methods: {
    // Define your needed mutations, here: auth/logout
    ...mapMutations({
      logout: 'auth/logout'
    }),
  },
  apollo: {
    $loadingKey: 'loading',
    recipes: {
      prefetch: true,
      query: OneRecipe
    },
    categories: {
      prefetch: true,
      query: CategoriesRecipeQuery
    }
  },

}
</script>

<style lang="scss">
@import '~/assets/scss/main.scss';

// WELCOM
.welcome {
  padding: 0 0 4rem;
  margin-top: 3rem;
  display: flex;
  flex-flow: column;

  @include breakpoint-up(sm) {
    padding: 0;
    flex-flow: row;
    margin-top: 0rem;
  }

  &__text {
    @include breakpoint-up(sm) {
      margin-top: 10rem;
      width: 40%;
    }
  }

  &__user {
    font-weight: 300;
    @include fontSize(36px);
    margin-bottom: 0px;
    margin-left: 10px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

}

.cards-images {
  @include breakpoint-up(sm) {
    display: flex;
  }
}

.farmer .card-image-link__image {
  width: 85%;
}
</style>
