<template>
<div class="signform-container page">
  <section class="signform">
    <div class="uk-container uk-container-large">
      <SectionTitle title="Bonjour !" subtitle="inscription" />
    </div>
    <form autocomplete="off" @submit.stop.prevent="handleSubmit">
      <div class="group">
        <label for="username">Pseudo</label>
        <input class="uk-input input--light" id="username" v-model="username" type="text" autofocus="true" placeholder="Pseudo" required />
      </div>
      <div class="group">
        <label for="email">Email</label>
        <input id="email" v-model="email" type="email" class="uk-input input--light" autofocus="true" placeholder="Enter your email" required />
      </div>
      <div class="group">
        <label for="password">Password</label>
        <input id="password" v-model="password" class="form-control uk-input input--light" label="password" type="password" autofocus="true" placeholder="Enter your password" required />
      </div>
      <button :disabled="loading" type="submit" class="link link--primary">
        Enregistrer
        <font-awesome-icon icon="check" class="icon" />
      </button>
      <p class="signup">
        Déjà un compte ?
        <router-link :to="{ name: 'signin' }" tag="a">
          S'identifier
        </router-link>
      </p>
    </form>
  </section>
</div>
</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main'
const apiUrl = process.env.API_URL || 'http://localhost:4001'
const strapi = new Strapi(apiUrl)
import {
  mapMutations
} from 'vuex'
export default {
  data() {
    return {
      email: '',
      password: '',
      username: '',
      loading: false
    }
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true
        const response = await strapi.register(
          this.username,
          this.email,
          this.password,
        )
        this.loading = false
        this.setUser(response.user)
        this.$router.push('/')
      } catch (err) {
        this.loading = false
        alert(err.message || 'An error occurred.')
      }
    },
    ...mapMutations({
      setUser: 'auth/setUser'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.signform {
  &-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include box-shadow;
  width: 40%;
  margin: 100px auto;
  border-radius: 16px;
  padding: 40px;

  @include breakpoint(xs) {
    width: 100%;
    margin: 20px 0;
    padding: 40px 10px;
  }

  .input--light {
    border-radius: 25px;
  }

  .section-title {
    margin: 0 0 20px;
  }

  button {
    position: relative;
    left: 50%;
    margin: 2rem 0;
    transform: translate(-50%, 0);
  }

  .group {
    width: 100%;
    display: block;
    width: 80%;
    margin: 0 auto;

    @include breakpoint(xs) {
      width: 90%;
    }

    label {
      width: 200px;
      display: block;
      margin: 20px 0 10px;
    }

    .uk-inline,
    input {
      width: 100%;
    }

    input {
      padding: 0 20px;
    }
  }

  a {
    color: $orange;
  }

  .signup {
    text-align: center;
  }
}
</style>
