<template>
<div class="signform-container page">
  <section class="signform">
    <div class="uk-container uk-container-large">
      <SectionTitle title="Rebonjour !" subtitle="connexion" />
    </div>
    <form autocomplete="off" @submit.stop.prevent="handleSubmit">
      <div class="group">
        <label for="email">Email</label>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input input--light" id="email" v-model="email" type="email" autofocus="true" placeholder="john.doe@email.com" required />
        </div>
      </div>

      <div class="group">
        <label for="password">Mot de passe</label>
        <div class="uk-inline input--light">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input id="password" v-model="password" label="password" type="password" class="form-control uk-input input--light" autofocus="true" placeholder="........." required />
        </div>
      </div>
      <button :disabled="loading" type="submit" class="link link--primary">
        Connexion
        <font-awesome-icon icon="check" class="icon" />
      </button>

      <p class="signup">
        Pas encore de compte ?
        <router-link :to="{ name: 'signup' }" tag="a">
          S'enregistrer
        </router-link>
      </p>
    </form>
  </section>
</div>
</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main'
const apiUrl = process.env.API_URL || 'http://localhost:4001'
const strapi = new Strapi(apiUrl)
import {
  mapMutations
} from 'vuex'
import SectionTitle from '~/components/SectionTitle'

export default {
  components: {
    SectionTitle
  },
  data() {
    return {
      email: '',
      password: '',
      loading: false
    }
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true
        const response = await strapi.login(this.email, this.password)
        this.loading = false
        this.setUser(response.user)
        this.$router.go(-1)
      } catch (err) {
        this.loading = false
        alert('Votre mot de passe ou email est faux. Avez-vous un compte ?')
      }
    },
    ...mapMutations({
      setUser: 'auth/setUser'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.signform {
  &-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include box-shadow;
  width: 40%;
  margin: 100px auto;
  border-radius: 16px;
  padding: 40px;

  @include breakpoint(xs) {
    width: 100%;
    margin: 20px 0;
    padding: 40px 10px;
  }

  .input--light {
    border-radius: 25px;
  }

  .section-title {
    margin: 0 0 20px;
  }

  button {
    position: relative;
    left: 50%;
    margin: 2rem 0;
    transform: translate(-50%, 0);
  }

  .group {
    width: 100%;
    display: block;
    width: 80%;
    margin: 0 auto;

    @include breakpoint(xs) {
      width: 90%;
    }

    label {
      width: 200px;
      display: block;
      margin: 20px 0 10px;
    }

    .uk-inline,
    input {
      width: 100%;
    }
  }

  a {
    color: $orange;
  }

  .signup {
    text-align: center;
  }
}
</style>
