<template>
<div>
  <div class="uk-container uk-container-large page">
    <h1>Fruits & légumes suisse</h1>
    <div class="bar__search">
      <!-- Search input to filters restaurants -->
      <form class="uk-search uk-search-small ">
        <span uk-search-icon></span>
        <input class="uk-search-input" v-model="query" type="search" placeholder="Carotte..">
      </form>
    </div>
  </div>

  <!-- MONTH CATEGORIES -->
  <section class="months uk-container uk-container-large">
    <div class="cards">
      <div class="cards-wrapper" v-for="month in filteredList" :key="month.id">
        <div class="card card__months ">
          <h2>{{month.name}}</h2>
          <ul class="card__months-body">
            <li v-for="ingredient in month.ingredients" :key="ingredient.id">
              <!-- <img :src="api_url + ingredient.image.url" alt="" height="100" /> -->
              {{ingredient.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- If no ingredients have been found -->
  <div class="uk-container uk-container-center uk-text-center" v-if="filteredList.length == 0">
    <img src="https://assets-ouch.icons8.com/preview/19/52de2377-696e-4194-8c63-0a81aef60b4f.png" height="800" width="800">
    <p>No ingredients found</p>
  </div>
</div>
</template>

<script>
// Import the ingredients query
import MonthsQuery from '~/apollo/queries/ingredient/months'

export default {
  data() {
    return {
      // Initialize an empty ingredients variabkle
      selected: [],
      months: [],
      query: '',
      api_url: "http://localhost:4001",
    }
  },
  apollo: {
    months: {
      prefetch: true,
      query: MonthsQuery
    }
  },
  computed: {
    // Search system
    filteredList() {
      return this.months.filter(month => {
        return month.ingredients.find(ingredient => {
          return ingredient.name.toLowerCase().includes(this.query.toLowerCase())
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.cards {
  margin: 0 10px;

  @include breakpoint-up(sm) {
    margin: 5rem 0;
  }

  &-wrapper {
    margin-bottom: 2rem;
  }
}

.card__months {
  margin-bottom: 2rem;

  h2 {
    width: 100%;
    text-align: center;
    display: inline-block;
    @include fontSize(28px);
    font-weight: 500;
    padding: 15px 0;
    border-bottom: 1px solid $lightgrey;
  }

  &-body {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    list-style: disc;

    li {
      width: 100%;

      @include breakpoint-up(sm) {
        width: 50%;
      }
    }
  }
}
</style>
