<template>
<div class="page single-page single-recipe">
  <client-only>
    <div class="uk-container uk-container-large" v-if="!loading">
      <GoBack />
      <section class="single-page__section">
        <div class="single-page__image" :style=" 'background-image:url(' + api_url + recipe.image.url + ');'  "></div>
        <div class="single-page__text">
          <div class="single-page__text-infos">
            <div>
              <div class="item__user">
                <img class="item__user-image" :src=" api_url + recipe.user.image.url ">
                <span class="item__user-name">{{ recipe.user.username }}</span>
              </div>
              <!--TO DO : Convert time
              <div class="item__date">
                <span class="item__date-time">{{recipe.created_at}}</span>
              </div>
              -->
            </div>
            <h1 class="single-page__text-title">{{recipe.name}}</h1>
            <ul class="single-page__text-categories categories">
              <Filters v-for="category in recipe.categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
            </ul>
            <p class="single-page__text-desc">{{recipe.description}}</p>

            <div class="single-page__text-indication">
              <div>
                <font-awesome-icon icon="hourglass-half" class="icon" />
                <p>Temps total: <span>{{recipe.time}} min</span></p>
              </div>
              <div>
                <font-awesome-icon icon="temperature-high" class="icon" />
                <p>Difficulté: <span>{{recipe.level}}</span></p>
              </div>
            </div>

            <!-- v-if username == recipe.user.username-->
            <div class="single-page__text-action">
              <button type="button" @click="deletePost(recipe.id)" v-if="username == recipe.user.username">Effacer la recette</button>
              <!-- TO DO : Make the Edit Recipe-->
              <button type="button" v-if="username == recipe.user.username">Editer</button>
            </div>

          </div>
        </div>
      </section>
    </div>

    <div class="uk-container uk-container-large">
      <section class="single-page__section section-border">
        <div class="single-page__box single-page__box-left recipe-ingredients">
          <h2 class="single-page__box-title">Ingrédients</h2>
          <!-- person count -->
          <div class="counter">
            <button id="minus" v-on:click="decrement()">-</button>
            <span v-if=" recipe.person > 0 ">{{recipe.person}} pers.</span>
            <span v-if=" recipe.person == 0 || recipe.person < 0 ">0 pers.</span>
            <button id="plus" v-on:click="increment()">+</button>
          </div>
          <!-- ingredient -->
          <ul class="recipe_ingredients">
            <li v-for="ingredient in recipe.ingredients" :key="ingredient.id">
              <p>
                <span v-if=" recipe.person > 0 ">{{recipe.person * ingredient.quantity}}</span>
                <span v-if=" recipe.person == 0 || recipe.person < 0 ">{{ingredient.quantity = 0}}</span>
                <span v-if="ingredient.unity">{{ingredient.unity}}</span>
                {{ingredient.name}}
              </p>
            </li>
          </ul>
        </div>

        <div class="single-page__box single-page__box-right recipe-steps">
          <h2 class="single-page__box-title">Etapes de préparation</h2>
          <ul>
            <li v-for="step in recipe.steps" :key="step.id">
              {{step.text}}
            </li>
          </ul>
        </div>
      </section>
    </div>

    <section class="uk-container uk-container-large">
      <SectionTitle title="Découvrez des produits frais" subtitle="partenaires de confiance" />
    </section>

    <div class="uk-container uk-container-large">
      <section class="cards">
        <div class="cards-wrapper" v-for="farmer in farmers" v-bind:key="farmer.id">
          <div class="card card-farmer">
            <div class="card-image" :style=" 'background-image:url(' + api_url + farmer.image.url + ');'  "></div>
            <div class="card-body">
              <p>{{farmer.postal}} {{farmer.postalName}}</p>
              <h2 class="card-body__title">{{farmer.name}}</h2>
              <ul class="card-body__categories categories">
                <Filters v-for="category in farmer.farmer_categories" :key="category.id" path="/farmer-categories/" :label="category.label" :id="category.id" :name="category.name" />
              </ul>

              <p class="card-farmer__desc">{{farmer.description}}</p>
              <router-link :to="{ name: 'farmers-id', params: { id: farmer.id }}" tag="a" class="link">
                <p>En savoir plus</p>
                <font-awesome-icon icon="arrow-right" class="icon" />
              </router-link>
            </div>
          </div>
        </div>
      </section>
    </div>
  </client-only>
</div>
</template>

<script>
import recipeQuery from '~/apollo/queries/recipe/recipe'
import DeleteRecipe from '~/apollo/queries/recipe/deleteRecipe'
import FarmersRecipe from '~/apollo/queries/recipe/farmersRecipe'
import GoBack from '~/components/GoBack'
import Filters from '~/components/filters/Filters'
import SectionTitle from '~/components/SectionTitle'

import {
  mapMutations
} from 'vuex';

export default {
  components: {
    GoBack,
    Filters,
    SectionTitle
  },
  apollo: {
    $loadingKey: 'loading',
    recipe: {
      prefetch: true,
      query: recipeQuery,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    },
    farmers: {
      prefetch: true,
      query: FarmersRecipe
    }
  },

  data() {
    return {
      loading: 0,
      recipe: Object,
      api_url: "http://localhost:4001",
      farmers: [],
      query: '',
      flickityOptions: {
        prevNextButtons: true,
        pageDots: true,
        draggable: true,
        initialIndex: 1,
        setGallerySize: true
      }
    }
  },
  computed: {
    // Set your username thanks to your getter
    username() {
      return this.$store.getters['auth/username']
    }
  },
  created() {
    console.log(this.recipe);
  },

  methods: {
    ...mapMutations({
      logout: 'auth/logout'
    }),
    next() {
      this.$refs.slick.next();
    },

    prev() {
      this.$refs.slick.prev();
    },

    reInit() {
      // Helpful if you have to deal with v-for to update dynamic lists
      this.$nextTick(() => {
        this.$refs.slick.reSlick();
      });
    },
    increment() {
      this.recipe.person++
    },
    decrement() {
      this.recipe.person--
    },
    deletePost(id) {
      this.$apollo.mutate({
          mutation: DeleteRecipe,
          variables: {
            id: id,
          }
        }),

        // redirect
        this.$router.push({
          name: 'recipes'
        })
    },

  }
}
</script>
