<template>
<div class="uk-container uk-container-large recipes page" v-if="!loading">
  <h1>Toutes les recettes</h1>
  <div class="bar__search">
    <ul class="categories">
      <Filters v-for="category in categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
    </ul>
    <!-- Search input to filters restaurants -->
    <form class="uk-search uk-search-small ">
      <span uk-search-icon></span>
      <input class="uk-search-input" v-model="query" type="search" placeholder="Search...">
    </form>
  </div>

  <section class="cards uk-container uk-container-large">
    <div class="cards-wrapper" v-for="recipe in filteredList" :key="recipe.id">
      <div class="card card-recipe">
        <div class="card-image" :style=" 'background-image:url(' + api_url + recipe.image.url + ');'  "></div>
        <div class="card-body">
          <!-- TO DO : Info User & Date -->
          <div class="card-body__infos">
            <div class="card-recipe__user">
              <img :src=" api_url + recipe.user.image.url ">
              <span>{{ recipe.user.username }}</span>
            </div>
            <!--<div class="card__recipe-date">
            <span>{{recipe.created_at}}</span>
          </div>-->
          </div>

          <!-- 4 Recipes -->
          <h3 class="card-body__title">{{ recipe.name }}</h3>
          <ul class="card-body__categories categories">
            <Filters v-for="category in recipe.categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
          </ul>

          <!-- Link to the recipe using router-link-->
          <router-link :to="{ name: 'recipes-id', params: { id: recipe.id }}" tag="a" class="link">
            <p>Voir la recette</p>
            <font-awesome-icon icon="arrow-right" class="icon" />
          </router-link>
        </div>
      </div>
    </div>
  </section>

  <!-- If no recipes have been found -->
  <div class="uk-container uk-container-center uk-text-center" v-if="filteredList.length == 0">
    <img src="https://assets-ouch.icons8.com/preview/19/52de2377-696e-4194-8c63-0a81aef60b4f.png" height="800" width="800">
    <p>No recipes found</p>
  </div>

</div>
</template>

<script>
// Import the recipes query
import recipesQuery from '~/apollo/queries/recipe/recipes'
import gql from 'graphql-tag'
import Filters from '~/components/filters/Filters'
import categoriesRecipeQuery from '~/apollo/queries/category/categoriesRecipe'

export default {
  components: {
    Filters
  },
  data() {
    return {
      // Initialize an empty recipes variabkle
      loading: 0,
      recipes: [],
      categories: [],
      newDate: '',
      query: '',
      api_url: "http://localhost:4001",
    }
  },
  apollo: {
    $loadingKey: 'loading',
    recipes: {
      prefetch: true,
      query: recipesQuery
    },
    categories: {
      prefetch: true,
      query: categoriesRecipeQuery
    },
  },

  mounted() {
    this.convertDataTime()
  },

  methods: {
    convertDataTime() {
      this.recipes.forEach(recipe => {

        const date = new Date(recipe.created_at)
        const dateTimeFormat = new Intl.DateTimeFormat('en', {
          year: 'numeric',
          month: 'short',
          day: '2-digit'
        })
        const [{
          value: month
        }, , {
          value: day
        }, , {
          value: year
        }] = dateTimeFormat.formatToParts(date)
        recipe.created_at = `${day} ${month} ${year }`
      });
    }
  },

  computed: {
    // Search system

    filteredList() {
      return this.recipes.filter(recipe => {
        return recipe.name.toLowerCase().includes(this.query.toLowerCase())
      })
    },
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.cards {
  margin: 0 10px;

  @include breakpoint-up(sm) {
    margin: 5rem 0;
    justify-content: flex-start;
  }

  &-wrapper {
    margin-bottom: 2rem;
  }
}
</style>
