<template>
<div class="newform-container page">
  <section class="newform">
    <div class="uk-container uk-container-large">
      <SectionTitle title="C'est parti !" subtitle="nouvelle recette" />
    </div>

    <form @submit.prevent="sendToStrapi" ref="uploadForm">
      <!-- TO DO: 
        Ajouter l'utilisateur
        Ajouter les categories
      -->

      <!-- image -->
      <div class="image-upload">
        <div id="preview">
          <img v-if="url" :src="url" />
        </div>
        <div>
          <div class="fake-button link link--primary">
            <p>Ajouter une image</p>
            <input type="file" @change="onFileChange" name="image" required />
          </div>
        </div>

      </div>

      <!--name-->
      <div class="group">
        <label for="name">Titre</label>
        <div class="uk-inline input--light">
          <input placeholder="Gratin dauphinois sans lactose" type="text" name="name" class="form-control uk-input input--light" required>
        </div>
      </div>

      <!--description-->
      <div class="group">
        <label for="name">Description</label>
        <div class="uk-inline input--light">
          <textarea v-model='data.description' class="form-control uk-input input--light" maxlength="100" required></textarea>
          <span>caractères / 100</span>
        </div>
      </div>

      <!-- level -->
      <div class="group">
        <label>Difficulté (facile, moyen, difficile)</label>
        <input type="text" name="level" v-model="data.level" class="form-control uk-input input--light" placeholder="facile" required />
      </div>

      <!-- Person -->
      <div class="group">
        <label>Temps total (en minutes)</label>
        <input type="number" name="time" v-model="data.time" class="form-control uk-input input--light" placeholder="20" required />
      </div>

      <!-- Person -->
      <div class="group">
        <label>Nombre de personnes</label>
        <input type="number" name="person" v-model="data.person" class="form-control uk-input input--light" placeholder="5" required />
      </div>

      <!-- ingredient -->
      <div class="ingredients">
        <h2 class="subtitle-lg">Ingredients.</h2>
        <ul>
          <li class="group" v-for="(ingredient, index) in data.ingredients" :key="index">
            <div>
              <label for="ingredientnom">Nom</label>
              <input type="text" name="ingredientnom" v-model="ingredient.name" class="form-control uk-input input--light" placeholder="Carotte rapée" required />
            </div>
            <div>
              <label for="ingredientnom">Quantité</label>
              <input type="number" name="ingredientquantity" v-model="ingredient.quantity" class="form-control uk-input input--light" placeholder="200" required />
            </div>
            <div>
              <label for="ingredientnom">Unitée (g,l,dl,kg)</label>
              <input type="text" name="ingredientquantity" v-model="ingredient.unity" class="form-control uk-input input--light" placeholder="g" required />
            </div>
            <button type="button" @click="deleteRowIngredient" class="btn-round">-</button>
          </li>
        </ul>
        <button type="button" @click="addRowIngredient" class="btn__gradient--orange">Ajouter un ingrédient +</button>
      </div>

      <!-- Steps -->
      <div class="steps">
        <h2 class="subtitle-lg">Etapes.</h2>
        <ul>
          <li class="group" v-for="(step, index) in data.steps" :key="index">
            <div>
              <label>Texte de l'étape</label>
              <input type="text" v-model="step.text" placeholder="Mélanger le tout" class="form-control uk-input input--light" required />
            </div>
            <button type="button" @click="deleteRow" class="btn-round">-</button>
          </li>
        </ul>
        <button type="button" @click="addRow" class="btn__gradient--orange">Ajouter une étape +</button>
      </div>

      <!-- Envoi -->
      <div class="submit">
        <input type="submit" name="Submit" class="link link--primary">
      </div>
    </form>
  </section>
</div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery';
export default {
  data() {
    return {
      url: null,
      data: {
        description: '',
        level: '',
        person: null,
        time: null,
        ingredients: [{
          name: '',
          quantity: '',
          unity: ''
        }],
        steps: [{
          text: ''
        }],
      }
    }
  },
  computed: {
    // Set your username thanks to your getter
    username() {
      return this.$store.getters['auth/username']
    },
  },
  methods: {

    onFileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    },

    // ADD INPUT ROW Ingredient
    addRowIngredient() {
      this.data.ingredients.push({
        name: '',
        quantity: '',
        unity: ''
      })
    },
    deleteRowIngredient(index) {
      this.data.ingredients.splice(index, 1)
    },

    // ADD INPUT ROW STEPS
    addRow() {
      this.data.steps.push({
        text: ''
      })
    },
    deleteRow(index) {
      this.data.steps.splice(index, 1)
    },

    sendToStrapi() {
      let form = this.$refs["uploadForm"];
      let formData = new FormData();
      let formElements = form.elements;
      let data = {};
      data.description = this.data.description
      data.level = this.data.level
      data.time = this.data.time
      data.person = this.data.person
      data.ingredients = this.data.ingredients
      data.steps = this.data.steps
      // TO DO : Ajouter l'utilisateur
      // TO DO : Ajouter les categories
      formElements.forEach(currentElement => {
        if (!["submit", "file"].includes(currentElement.type)) {
          data[currentElement.name] = currentElement.value;
        } else if (currentElement.type === "file") {
          if (currentElement.files.length === 1) {
            const file = currentElement.files[0];
            formData.append(`files.${currentElement.name}`, file, file.name);
          } else {
            for (let i = 0; i < currentElement.files.length; i++) {
              const file = currentElement.files[i];
              formData.append(`files.${currentElement.name}`, file, file.name);
            }
          }
        }
      });
      formData.append("data", JSON.stringify(data));
      axios.post("http://localhost:4001/recipes", formData).then(res => {
        alert('Votre recette a bien été envoyer')
        //document.location.href = "/recipes";  Va marcher quand j'aurai mis le user
      }).catch(error => {
        this.onFail(error.res.data);
        reject(error.res.data);
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.newform {
  @include box-shadow;
  width: 100%;
  margin: 100px auto;
  border-radius: 16px;
  padding: 2rem 1rem;

  @include breakpoint-up(sm) {
    width: 60%;
    padding: 2.5rem;
  }

  h2 {
    margin: 20px 0;
  }

  .input--light {
    border-radius: 25px;
  }

  .section-title {
    margin: 0 0 20px;
  }

  button {
    margin: 40px auto;
    display: block;
  }

  .btn-round {
    margin: 0;
    border: none;
  }

  input,
  textarea {
    padding: 1rem;
  }

  .btn__gradient--orange {
    margin: 0 auto;
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
  }

  textarea {
    min-height: 100px;
  }

  label {
    font-size: $font-size-xs;
    width: 100%;
  }

  .steps,
  .ingredients,
  .group,
  .filters {
    display: block;
    width: 80%;
    margin: 0 auto;

    @include breakpoint(xs) {
      width: 90%;
    }

    label {
      width: 200px;
      display: block;
      margin: 2rem 0 5px 10px;
      font-size: $font-size-xs;
    }

    .uk-inline,
    input {
      width: 100%;
    }
  }

  a {
    color: $orange;
  }

  .ingredients,
  .steps {
    .group {
      width: 100%;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 10px;

      @include breakpoint(xs) {
        flex-wrap: wrap;
      }
    }
  }

  .ingredients {
    div:nth-child(1) {
      width: 50%;

      @include breakpoint(xs) {
        width: 100%;
      }
    }

    div:nth-child(2) {
      width: 15%;

      @include breakpoint(xs) {
        width: 30%;
      }
    }

    div:nth-child(3) {
      width: 15%;

      .v-select {
        width: 100%;
      }

      @include breakpoint(xs) {
        width: 30%;
      }
    }
  }

  .steps {
    div:nth-child(1) {
      width: 90%;

      @include breakpoint(xs) {
        width: 100%;
      }
    }
  }
}
</style>
