.cards {
  flex-wrap: wrap;
  @include breakpoint-up(sm) {
    display: flex;
    justify-content: space-between;
  }

  &-wrapper {
    margin-bottom: 2rem;
    @include breakpoint-up(sm) {
      box-sizing: border-box;
      width: 25%;
      margin-bottom: 0rem;
      padding: 0 0.5rem 0;
      height: auto;
    }
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  padding-bottom: 2.5rem;
  @include box-shadow;
  transition: $transition-scale;

  &:hover {
    transform: scale(1.05);
  }

  &-image {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  &-body {
    width: 100%;
    padding: 1rem;

    &__infos {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-size: $font-size-lg;
      font-weight: 600;
      margin: 1.5rem 0 0.5rem;
    }

    &__categories {
      justify-content: flex-start;
      margin-bottom: 2rem;
    }

    &__categories .category {
      padding: 5px 10px;
      margin: 5px 5px 5px 0;
      font-size: $font-size-xs;
    }
  }
}

// RECIPE MODIFICATION 
.card-recipe {
  &__user {
    img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    span{
      font-size: $font-size-xs
    }
  }
}

// FARME MODIFICATION 
.card-farmer {
  &__desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin: 10px 0 20px;
  }
}

