.categories{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint-up(sm) {
    justify-content: flex-start;
  }
}

.category {
  border-radius: 25px;
  padding: 8px 20px;
  margin: 10px 10px 10px;
  display: inline;
  transition: $transition-scale;

  &:hover{
    transform: scale(1.05);
  }

  @include breakpoint-up(sm) {
    padding: 4px 15px;
    margin: 5px 8px 5px 0;
  }

  &--no-lactose{
    background: $lightblue;
    a { color: darken($lightblue, 70%); }
  }

  &--no-gluten{
    background: $yellow;
    a { color: darken($yellow, 70%); }
  }

  &--dessert{
    background: $pink;
    a { color: darken($pink, 70%); }
  }

  &--vegetarian{
    background: $lightgreen;
    a { color: darken($lightgreen, 70%); }
  }

  &--no-sugar{
    background: $red;
    a { color: darken($red, 70%); }
  }

  &--vegan{
    background: $green;
    a { color: darken($green, 70%); }
  }

  &--entry{
    background: $orange;
    a { color: darken($orange, 70%); }
  }

  &--plat{
    background: $blue;
    a { color: darken($blue, 70%); }
  }

  &--productor {
    background: $lightgreen;
    a { color: darken($lightgreen, 70%); }
  }

  &--market {
    background: $lightblue;
    a { color: darken($lightblue, 70%); }
  }

  &--epicerie{
    background: $yellow;
    a { color: darken($yellow, 70%); }
  }
}