*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

// ROW

.row{
  display: flex;
  @mixin breakpoint($phablet){
    &.row{
      flex-flow: column;
    }
  }
}

.row-center{
  align-items: center;
}

.row-baseline{
  align-items: baseline;
}

.uk-container{
  margin: auto;
}


// BUTTON

.btn{
  display: inline;
  border: none;
  font-weight: 700;
  padding: 5px 0;
  @include fontSize(20px);

  &__link{
    border-bottom: 2px solid $white;
    color: $white;

    &--black{
      border-bottom: 2px solid $black;
      color: $black;
      font-size: 0.875rem;
    }

    &:hover{
      text-decoration: none;
      color: $black;
      opacity: 0.3;
      border-bottom: 2px solid $black;
    }
  }
}

.btn__gradient{
  padding: 15px 22px;
  @include fontSize(16px);
  @include box-shadow;
  text-transform: uppercase;
  &--orange{
    background: $orange;
    color: $white;
    border-radius: 50px;
  }
  &--white{
    background: $white;
    color: $orange;
    border: 1px solid $orange;
    border-radius: 50px;
  }

  &--sm{
    padding: 10px 15px;
    @include fontSize(16px);
  }
}

.btn-round{
  background: $orange;
  color: $white;
  border-radius: 50px;
  padding: 10px;
  width: 50px;
  height: 50px;
}

// INFO
// INFORMATION USER AND DATE
.item__infos{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.item__user{
  &-image{
    width: 20px;
    height: 20px;
  }
  &-name{
    font-size: 12px;
  }
}
.item__date-time{
  font-size: 12px;
}

// bar search input + categorier
.bar__search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column-reverse;
  margin: 2rem 0 3rem;

  @include breakpoint-up(sm) {
    flex-flow: row;
  }

  form{
    margin: 0 0 2rem;
    border: 1px solid $lightgrey;
    padding: 0 1rem;
    border-radius: 25px;
    width: 95%;

    @include breakpoint-up(sm) {
      margin: 0;
      width: 40%;
    }

    input{
      padding: 0.8rem 1.5rem;

      @include breakpoint-up(sm) {
        padding: 0.4rem 1.5rem;
      }
    }

    span{
      width: 1.5rem;
      height: 1.5rem;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
    }
  }
}

// PAGE
.page {
  margin-top: 8rem;
}


// LINK

.link {
  background: $white;
  border: 2px solid $lightgrey;
  color: $grey;
  font-size: $font-size-xs;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: $border-radius-full;
  transition: 0.2s all linear;

  &--primary {
    background: $orange;
    color: $white;
    border: $orange;
    bottom: 0;
    right: 0;
    padding: 15px 20px;
  }

  p{
    margin: 0;
  }
}

.link .icon{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.1s all linear;
}

.link:hover{
  color: $grey;
  padding-right: 2.5rem;
}

.link--primary:hover{
  color: $white;
  padding-right: 3rem;
}

.link:hover .icon{
  opacity: 1;
  right: 1rem;
}


// MENU 
.menu .bm-menu{
  background: $white;
  @include box-shadow;
}
.bm-overlay{
  background: $white !important;
}

.bm-burger-button{
  top: 1.6rem;
}
// FLICKITY
.flickity-button{
  @include breakpoint(xs){
    top: 100%;
  }
}

// V-SELECT
.input-select{
  .vs__dropdown-toggle{
    border-radius: 25px;
    height: 40px;
   }
   .vs__clear{
     display: none;
   }
   .vs__selected-options{
     flex-basis: auto !important;
   }
   
}

.carousel-cell{
  max-width: 25%;
}



// Fake button for input sumbit
.submit {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 2rem 0 1rem;
  input {
    left: 50%;
    transform: translateX(-50%);
  }
}

.fake-button {
  width: 200px;
  position: relative;
  margin-bottom: 2rem;
  position: relative;
  margin: 0 auto;
  p{
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 200px;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  input{
    opacity: 0;
    width: 200px;
  }
}

#preview {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 4px solid $lightgrey;
  border-radius: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
}

#preview img {
  height: 100%;
  max-width: auto !important;
}