.single-page {
  .go-back { 
    @include breakpoint-up(sm) {
      width: auto;
      position: absolute;
      top: 22%;
      left: 5%;
    }
  }

  .uk-container {
    margin: 0 10px;
    @include breakpoint-up(sm) {
      margin: 0 auto;
    }
  }

  &__section {
    @include breakpoint-up(sm) {
      display: flex;
      justify-content: center;
    }
  }

  &__image {
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    overflow: hidden;

    @include breakpoint-up(sm) {
      width: 60%;
      height: 600px;
      margin-bottom: 3rem;
    }

    img {
      width: 100%;
    }
  }

  &__text {
    @include breakpoint-up(sm) {
      width: 40%;
    }

    &-infos {
      margin-top: 1rem;
      @include box-shadow;
      border-radius: 1rem;
      padding: 1rem;
      height: fit-content;
      position: relative;
      background: $white;
      @include breakpoint-up(sm) {
        margin-top: 3rem;
        margin-left: 2%;
        left: -15%;
        padding: 2rem;
      }
    }

    &-title {
      margin: 1rem 0;
      font-size: $font-size-xl;
      text-align: left;
      @include breakpoint-up(sm) {
        font-size: $font-size-3xl;
      }
    }

    &-categories {
      justify-content: flex-start;
    }

    &-categories .category{
      font-size: $font-size-2xs;
      margin: 5px 5px 5px 0;
      @include breakpoint-up(sm) {
        font-size: $font-size-sm;
        margin: 5px;
      }
    }

    &-desc {
      margin: 1.5rem 0 3rem;
    }

    &-indication div {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }
    }

    &-indication div .icon{
      color: $orange;
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    &-indication div span{
      font-weight: 500;
    }

    &-action {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin: 3rem 0 1rem;
      @include breakpoint-up(sm) {
        margin: 2rem 0 0;
      }
    }

    &-action button {
      background: $white;
      border: 2px solid $lightgrey;
      padding: 10px 15px;
      font-weight: 500;
      color: $grey;
      margin: 0 5px;
      border-radius: 1.5rem;
      transition: 0.2s all linear;
      &:hover {
        background: $lightgrey;
      }
    }
  }

  .section-border {
    border: 1px solid $lightgrey;
    border-radius: 1rem;
    justify-content: space-between;
    margin: 2rem 0;
    @include breakpoint-up(sm) {
      margin: 0 0 2rem;
    }
  }

  &__box {
    padding: 1.5rem;
    @include breakpoint-up(sm) {
      padding: 2rem;
    }

    &-title{
      font-size: $font-size-2xl;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    button {
      background-color: $orange;
      border: none;
      color: $white;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin-bottom: 1.5rem;
    }

    &-left {
      @include breakpoint-up(sm) {
        width:30%
      }
    }

    &-right {
      border-top: 1px solid $lightgrey;
      @include breakpoint-up(sm) {
        width:70%;
        border-top: none;
        border-left: 1px solid $lightgrey;
      }
    }
  }
}

// RECIPE MODIFICATION 
.counter span{
  margin:  0 10px;
  font-weight: 500;
}

.recipe-ingredients {

  ul {
    padding-left: 20px;
    list-style: disc;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
.recipe-steps {
  @include breakpoint-up(sm) {
    padding: 2rem 4rem;
  }

  ul {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 30px;
    position: relative;

    li {
      margin: 0 0 1rem 0;
      counter-increment: my-awesome-counter;

      &::before {
        content: counter(my-awesome-counter) ". ";
        color: $black;
        font-weight: 700;
        font-size: 18px;
        position: absolute;
        left: 0;
      }
    }
  }
}

// FARMER MODIFICATION 
.farmer-infos{
  padding: 40px;

  ul {
    padding-left: 20px;
    list-style: disc;

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.single-farmer .table {
  overflow-x:auto;

  th,td {
    padding: 1rem 2rem 1rem 0;
    @include breakpoint-up(sm) {
      padding: 1rem 1.5rem;
    }
  }

}

.farmer-calendar .card-image-link{
  margin: 0 auto;
}
