h1,h2,h3,h3,h5,p,span {
  font-family: $primary-font;
}

h1 {
  font-size: $font-size-3xl;
  font-weight: 800;
  text-align: center;
  margin: 0 10px;

  @include breakpoint-up(sm) {
    font-size: $font-size-4xl;
    text-align: left;
    letter-spacing: 0.05rem;
  }

  span {
    color: $orange;
  }
}

h2{
  @include fontSize(38px);
  font-weight: 500;
}