@charset 'utf-8';

// Base colors

$white:       #fff;
$black:       #000;
$grey:        #696969;
$lightgrey:   #b6b6b6;
$pink:        #ffaccc;
$lightblue:   #ABE6FF;
$yellow:      #FFEBA4;
$lightgreen:  #bbf390;
$red:         #fc5171;
$green:       #7dc266;
$greendark:   #1b470d;
$orange:      #fc796a;
$blue:        #7a8eff;
$cream:       #f4ebd198;

// Colors
$color-primary:        $orange;
$color-secondary:      $grey;

// Gradient
$gradient-orange:linear-gradient(180deg, rgba(253,116,73,1) 0%, rgba(252,81,113,1) 100%);

// Font families
$primary-font: 'Montserrat','Roboto', sans-serif;

// Font sizes
$font-size-2xs:  0.75rem;
$font-size-xs:   0.875rem;
$font-size-sm:   1rem;
$font-size-base: 1.125rem;
$font-size-lg:   1.5rem;
$font-size-xl:   1.875rem;
$font-size-2xl:  2rem;
$font-size-3xl:  2.5rem;
$font-size-4xl:  4rem;

// Line heights
$line-height-none:    1;
$line-height-tight:   1.125;
$line-height-snug:    1.25;
$line-height-normal:  1.5;
$line-height-relaxed: 1.75;
$line-height-loose:   2;

// Radii
$border-radius-sm:      3px;
$border-radius-md:      4px;
$border-radius-lg:      8px;
$border-radius-full:    25px;

// Box shadows
$box-shadow-sm:            0 4px 10px rgba($black, 0.05);
$box-shadow-md:            0 4px 12px rgba($black, 0.15);
$box-shadow-lg:            0 7px 26px rgba($black, 0.15);
$box-shadow-xl:            1px 2px 8px rgba($black, 0.7);

// Transitions
$transition-scale: 0.3s all linear;
$transition-duration-base: 0.3s;
$transition-colors:
  color $transition-duration-base,
  background-color $transition-duration-base,
  border-color $transition-duration-base;
