<template>
<footer>
  <nav>
    <ul class="nav__list">
      <li>
        <router-link tag="a" class="navbar-brand" to="/" exact>Accueil</router-link>
      </li>
      <li>
        <router-link tag="a" class="navbar-brand" to="/recipes" exact>Recettes</router-link>
      </li>
      <li>
        <router-link tag="a" class="navbar-brand" to="/calendar" exact>Calendrier</router-link>
      </li>
      <li>
        <router-link tag="a" class="navbar-brand" to="/farmers" exact>Producteurs</router-link>
      </li>
    </ul>
  </nav>
  <p>©kurokay 2020</p>
</footer>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

footer {
  margin-top: 100px;
  background: $cream;
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  a {
    color: $grey;

    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
