<template>
<div class="go-back">
  <a class="link link--primary" @click="$router.go(-1)">
    <font-awesome-icon icon="arrow-right" class="icon" />
    Retour
  </a>
</div>
</template>

<script>
export default {
  name: "GoBack"
}
</script>

<style lang="scss">
.go-back {
  position: relative;
  width: 100%;
  padding-bottom: 3rem !important;

  .link {
    position: relative;
    text-align: right;

    &:hover {
      padding-left: 2.5rem;
      padding-right: 15px;
    }

    &:hover .icon {
      left: 1rem;
    }

    .icon {
      left: 1.5rem;
      top: 36%;
      transform: rotate(-180deg);
    }
  }
}
</style>
