<template>
<client-only>
  <header>
    <div class="nav--left">
      <router-link tag="a" class="navbar-brand" to="/" exact>
        <img src="~/static/logo.svg" alt="logo mifood" id="logo" />
      </router-link>
    </div>
    <div class="nav--right">
      <Slide right :closeOnNavigation="true" class="menu">
        <ul class="nav__list">
          <li>
            <router-link tag="a" class="navbar-brand" to="/" exact>Accueil</router-link>
          </li>
          <li>
            <router-link v-if="username" tag="a" class="nav-link" to="/profile" exact>
              Mon Profile
            </router-link>
          </li>
          <li v-if="username">
            <router-link tag="a" class="navbar-brand" to="/recipes/new" exact>Ajouter une recette</router-link>
          </li>
          <li>
            <router-link tag="a" class="navbar-brand" to="/recipes" exact>Recettes</router-link>
          </li>
          <li>
            <router-link tag="a" class="navbar-brand" to="/calendar" exact>Calendrier</router-link>
          </li>
          <li>
            <router-link tag="a" class="navbar-brand" to="/farmers" exact>Producteurs</router-link>
          </li>
        </ul>

        <ul class="nav__list nav__list--connect">
          <li v-if="username">
            <a href="#" @click="logout" class="link">
              Logout
              <font-awesome-icon icon="sign-out-alt" class="icon" />
            </a>
          </li>
          <li v-if="!username">
            <router-link v-if="!username" tag="a" to="/signin" exact class="link link--primary">
              Signin
              <font-awesome-icon icon="user" class="icon" />
            </router-link>
          </li>
          <li v-if="!username">
            <router-link v-if="!username" tag="a" to="/signup" exact class="link">
              Signup
              <font-awesome-icon icon="user-plus" class="icon" />
            </router-link>
          </li>
        </ul>
      </Slide>
    </div>
  </header>
</client-only>
</template>

<script>
import {
  mapMutations
} from 'vuex';

export default {
  computed: {
    // Set your username thanks to your getter
    username() {
      return this.$store.getters['auth/username']
    }
  },

  mounted() {
    window.onscroll = function () {
      growShrinkLogo()
    };

    function growShrinkLogo() {
      var Logo = document.getElementById("logo")
      var navIcon = document.getElementsByClassName("bm-burger-button")
      if (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5) {
        Logo.style.width = '150px';
      } else {
        Logo.style.width = '180px';
      }
    }
  },
  methods: {
    // Define your needed mutations, here: auth/logout
    ...mapMutations({
      logout: 'auth/logout'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

header {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  background: $white;

  img {
    width: 180px;
    transition: 0.3s all linear;
    position: relative;
    top: 0;
    left: 0;

    @include breakpoint-up(sm) {
      top: 0;
      left: 0;
    }
  }

  // OVERLAY 

  .menu {
    position: relative;
  }

  .nav--right {
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-flow: column;
    line-height: 2rem;

    li {
      margin: 5px 0;
    }

    a {
      color: $orange;
      position: relative;

      &::before {
        position: absolute;
        bottom: -5px;
        content: '';
        height: 2px;
        width: 0;
        background: $gradient-orange;
        transition: all linear 0.2s;
      }

      &:hover {
        &::before {
          width: 105%;
        }
      }
    }

    &--connect {
      position: absolute;
      width: 80%;
      bottom: 20px;
      left: 60%;
      transform: translateX(-50%);
      padding-right: 30px;
      text-align: center;

      li {
        width: 100%;
      }

      a {
        display: block;
        color: $grey;
        width: 100%;
        position: relative;
        bottom: 0;
        right: 0;
        padding: 5px 10px;

        &:hover::before {
          display: none;
        }
      }

      .link--primary {
        color: $white;
      }
    }
  }
}
</style>
