<template>
<div class="home-animation">
  <svg class="animated" id="freepik_stories-cooking" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
    <g id="freepik--Table--inject-51" class="animable" style="transform-origin: 250.03px 359.97px;">
      <path d="M337.48,246.65a42.34,42.34,0,0,1-9.37,0,42.34,42.34,0,0,1,9.37,0Z" style="fill: rgb(250, 250, 250); transform-origin: 332.795px 246.65px;" id="eljnpzzg53nll" class="animable"></path>
      <path d="M476,473.28c0,.15-101.17.27-225.94.27s-226-.12-226-.27S125.2,473,250,473,476,473.14,476,473.28Z" style="fill: rgb(38, 50, 56); transform-origin: 250.03px 473.275px;" id="el54pyh6aqfom" class="animable"></path>
    </g>
    <g id="freepik--Character--inject-51" class="animable" style="transform-origin: 291.825px 282.803px;">
      <path d="M385.58,416.83c4.87-3.5,9.83-7.05,15.47-9.1s12.16-2.45,17.5.3c4.47,2.3,7.69,6.6,9.54,11.28a29.58,29.58,0,0,1,1.1,18.24c-.85,3.26-2.54,6.63-5.64,7.95s-6.67.18-9.75-1.2a64,64,0,0,1-25.41-20.57,4.29,4.29,0,0,1,4.72-.42,16.75,16.75,0,0,1,3.95,3.09,32.38,32.38,0,0,0,13.74,7.38c3.78,1,8.87.55,10.14-3.14.83-2.41-.49-5-1.77-7.19-1.46-2.53-3.13-5.24-5.87-6.25-2.06-.75-4.33-.39-6.49,0l-23.58,4.05,1.46-.43" style="fill: rgb(69, 90, 100); transform-origin: 406.684px 426.082px;" id="elkkk7y57ffos" class="animable"></path>
      <path d="M326.71,98.79c-15.55-4.34-38.59,1.7-47.39,15.23s-4.92,33.61-5.61,49.73,0,32.5-3.91,48.17c-2.46,10-7.17,20-15.83,25.55-9.9,6.3-24.74,6.92-29.43,17.68-3.91,9,2.16,20-1.79,29-1.74,4-5.27,7-6.79,11.05-2.1,5.62.2,12.16,4.33,16.51s9.78,6.9,15.41,9a137.6,137.6,0,0,0,53.63,8.25c13.27-.62,27.51-3.76,36.21-13.79,6.83-7.88,9.08-18.68,10.32-29,7.62-63.83,9-134-9.15-187.28" style="fill: rgb(38, 50, 56); transform-origin: 278.172px 213.253px;" id="elppx2ubx1xs" class="animable"></path>
      <path d="M240,292.49c.13-.07-.58-1.27-1.29-3.66a24.65,24.65,0,0,1-.58-10.38,36.48,36.48,0,0,1,5.62-14.36c3.19-4.92,7.81-9.54,12.88-14.09s10.12-8.76,14.19-13.15a51.66,51.66,0,0,0,9.06-13,30.1,30.1,0,0,0,2.86-10.29,20.3,20.3,0,0,0,0-2.91c0-.67-.08-1-.13-1-.3-.08.5,5.8-3.52,13.84A53,53,0,0,1,270,236.08c-4,4.29-9.07,8.44-14.18,13s-9.77,9.29-13,14.39a36.15,36.15,0,0,0-5.54,14.85,23.68,23.68,0,0,0,1,10.63,16.06,16.06,0,0,0,1.2,2.66A3.58,3.58,0,0,0,240,292.49Z" style="fill: rgb(69, 90, 100); transform-origin: 259.931px 251.07px;" id="elgmjirqvohrp" class="animable"></path>
      <polygon points="279.11 406.81 273.91 472.16 430.14 472.93 387.67 413.21 279.11 406.81" style="fill: rgb(38, 50, 56); transform-origin: 352.025px 439.87px;" id="elnp9pj2y0q3m" class="animable"></polygon>
      <path d="M155.6,249.63c.44.38-9.15,51.55-14,77.17a23.32,23.32,0,0,0,8.94,23h0a23.31,23.31,0,0,0,25.33,1.68l65.05-33.85L221,275.92l-41,23.27,2.7-43.39Z" style="fill: rgb(255, 190, 157); transform-origin: 191.057px 302.036px;" id="ele1cyg36l7du" class="animable"></path>
      <path d="M177.81,208.94c-.46-1.83-2.77-2.66-4.61-2.2a10.93,10.93,0,0,0-4.64,3.15l-5.26,3.19a7.34,7.34,0,0,0-3.28,6,21.51,21.51,0,0,0,1.09,7c.55,2,1.33,4.27,3.26,5,2.15.8,4.53-.86,5.54-2.92s1.11-4.41,1.64-6.64a17.37,17.37,0,0,1,3.69-7.25C176.57,212.7,178.32,210.94,177.81,208.94Z" style="fill: rgb(235, 153, 110); transform-origin: 168.96px 218.95px;" id="elku9452o237q" class="animable"></path>
      <path d="M134.11,211a3.26,3.26,0,0,1,3.37-4.24c10.68.88,36.05,4.43,51.1,8.76,21.34,6.14,35.39,10.11,35.39,10.11l45.32-1s-5.44,15.62-22.71,15.7c-13.07.06-26.78-8.34-26.78-8.34s-58.08-19.78-82.47-18.71a3.22,3.22,0,0,1-3.22-2.27Z" style="fill: rgb(69, 90, 100); transform-origin: 201.623px 223.54px;" id="el3pegs6qocgj" class="animable"></path>
      <path d="M260.82,224.76c.56,1.59-1.29,3-2.94,3.3s-3.54.22-4.73,1.4a4.59,4.59,0,0,0-1,3.69,32.49,32.49,0,0,1,.47,3.92,3.57,3.57,0,0,1-.87,2.44c-1.19,1.21-3.38.8-4.53-.44a7.69,7.69,0,0,1-1.63-4.72,13.48,13.48,0,0,0-.53-3.58,3.41,3.41,0,0,0-2.55-2.34c-1.43-.18-2.69.9-4.06,1.38a5.17,5.17,0,0,1-6.54-4.35Z" style="fill: rgb(255, 114, 94); transform-origin: 246.416px 232.498px;" id="elcmo5rvba1lh" class="animable"></path>
      <path d="M150.44,208.51a19.52,19.52,0,0,1-2.2,1.05,24.77,24.77,0,0,1-11.55,1.72,18.33,18.33,0,0,1-2.41-.36s.23,0,.64.09,1,.13,1.77.19a25.67,25.67,0,0,0,5.86-.2,26.42,26.42,0,0,0,5.66-1.51c.7-.28,1.26-.52,1.64-.71Z" style="fill: rgb(38, 50, 56); transform-origin: 142.36px 209.945px;" id="elmajdgrbzt0q" class="animable"></path>
      <path d="M170.32,211.38h-.19l-.54-.06c-.47-.06-1.15-.12-2-.17a29.66,29.66,0,0,0-6.58.34,30.6,30.6,0,0,0-6.34,1.8c-.78.33-1.41.61-1.83.82l-.49.23-.18.07s.05,0,.16-.11l.47-.27c.42-.23,1-.53,1.82-.87a27.57,27.57,0,0,1,6.36-1.87,27.88,27.88,0,0,1,6.62-.29c.85.07,1.53.16,2,.24l.54.1Z" style="fill: rgb(38, 50, 56); transform-origin: 161.245px 212.665px;" id="eljk3qguo43kg" class="animable"></path>
      <path d="M185.18,218.91l-2.09-.62-2.44-.74a2.7,2.7,0,0,1-1.38-.79.92.92,0,0,1-.15-.85,1,1,0,0,1,.67-.62,3.43,3.43,0,0,1,2,0c.67.13,1.37.28,2.08.48a25.28,25.28,0,0,1,4.39,1.69c.74.37,1.49.78,2.22,1.24a3.18,3.18,0,0,1,1,.84.71.71,0,0,1,.08.68,1,1,0,0,1-.5.47,10.88,10.88,0,0,1-5.51.61c-3.85-.49-7.1-2.34-10-3.86a28.45,28.45,0,0,0-8.13-3.25,12.06,12.06,0,0,0-5.85.22,9.07,9.07,0,0,0-1.49.62c-.32.18-.49.26-.49.26L160,215a8.64,8.64,0,0,1,1.48-.64,12,12,0,0,1,5.89-.25,28.5,28.5,0,0,1,8.16,3.23c2.91,1.52,6.16,3.36,10,3.85a10.84,10.84,0,0,0,5.45-.6.86.86,0,0,0,.46-.42.66.66,0,0,0-.07-.59,3.13,3.13,0,0,0-1-.8,23.25,23.25,0,0,0-2.21-1.24,25.19,25.19,0,0,0-4.38-1.69c-.7-.2-1.4-.36-2.07-.5a3.44,3.44,0,0,0-1.91,0,1,1,0,0,0-.63.58.85.85,0,0,0,.13.79,2.66,2.66,0,0,0,1.35.78l2.44.75Z" style="fill: rgb(38, 50, 56); transform-origin: 175.601px 217.637px;" id="elj0ybqb0cm9g" class="animable"></path>
      <path d="M195.72,218a2.91,2.91,0,0,1,.36,1,3.92,3.92,0,0,1-.29,2.42,4,4,0,0,1-1.7,1.75,2.84,2.84,0,0,1-1,.32,6.08,6.08,0,0,0,.92-.39A3.86,3.86,0,0,0,196,219,6.5,6.5,0,0,0,195.72,218Z" style="fill: rgb(38, 50, 56); transform-origin: 194.623px 220.745px;" id="elpvh03tj57s" class="animable"></path>
      <path d="M214.12,222.81s-1,0-2.56-.1-3.76-.33-6.18-.36a15.21,15.21,0,0,0-6,1,6.63,6.63,0,0,0-1,.46,3.67,3.67,0,0,0-.68.42l-.57.38.54-.41a3.48,3.48,0,0,1,.68-.44,6.6,6.6,0,0,1,1-.48,14.93,14.93,0,0,1,6.08-1c2.43,0,4.6.29,6.18.4.79.06,1.43.11,1.87.13Z" style="fill: rgb(38, 50, 56); transform-origin: 205.625px 223.438px;" id="eldsdsfwn6szl" class="animable"></path>
      <path d="M233.31,237.9s-.36-.31-1-.89c-.32-.29-.72-.64-1.2-1s-1-.84-1.64-1.29a43.11,43.11,0,0,0-4.53-3A43.23,43.23,0,0,0,212.6,227a41.35,41.35,0,0,0-5.35-.82c-.77-.1-1.47-.11-2.08-.14s-1.14,0-1.57,0h-1.34l1.34,0c.43,0,1,0,1.57,0s1.31,0,2.08.12a42.76,42.76,0,0,1,5.37.8A48.77,48.77,0,0,1,219,228.8a48,48,0,0,1,6,2.85,42.36,42.36,0,0,1,4.53,3c.63.44,1.15.91,1.63,1.3s.87.73,1.18,1C233,237.57,233.31,237.9,233.31,237.9Z" style="fill: rgb(38, 50, 56); transform-origin: 217.785px 231.963px;" id="elswitdpbzbv" class="animable"></path>
      <path d="M246.42,238.24a5,5,0,0,1-1,.41,8.38,8.38,0,0,1-2.87.35,11.26,11.26,0,0,1-4.15-1.08,18,18,0,0,1-4.32-3c-1.39-1.26-2.6-2.56-3.72-3.72a38.63,38.63,0,0,0-3.11-3,19,19,0,0,0-2.34-1.7c-.29-.17-.52-.31-.68-.39L224,226a15.18,15.18,0,0,1,3.31,2.17,42,42,0,0,1,3.13,2.95c1.13,1.16,2.34,2.46,3.72,3.71a18.11,18.11,0,0,0,4.29,3,11.07,11.07,0,0,0,4.12,1.08,8.23,8.23,0,0,0,2.85-.31,5.11,5.11,0,0,0,.74-.27Z" style="fill: rgb(38, 50, 56); transform-origin: 235.21px 232.506px;" id="eliyhdmx4gbv8" class="animable"></path>
      <path d="M263.59,233.43h-.34c-.23,0-.55,0-.95,0a15.56,15.56,0,0,0-3.11.32,14.54,14.54,0,0,0-3,1c-.36.16-.66.31-.85.42a1.73,1.73,0,0,1-.32.15,8.59,8.59,0,0,1,1.14-.64,13.21,13.21,0,0,1,6.1-1.31A10,10,0,0,1,263.59,233.43Z" style="fill: rgb(38, 50, 56); transform-origin: 259.305px 234.343px;" id="el7v7v339pj" class="animable"></path>
      <path d="M138.8,237.43l-.48-9.35a4.63,4.63,0,0,1,.79-2.84l.06-.09a20.38,20.38,0,0,1,6.16-5.93l20.15-12.49a2.15,2.15,0,0,1,3.25,1.43c.25,1.65-.48,5.41-1.94,6.91a48.82,48.82,0,0,1-8.46,6.18l20.21-3.92a5.73,5.73,0,0,1-2.65,7l8.31-1.76s2.72,3.87-1,6.42-10.33,4.76-10.33,4.76,10.31,4.35,10.07,7.82-.38,14.59-.38,14.59l-27.7-2Z" style="fill: rgb(255, 190, 157); transform-origin: 161.736px 231.283px;" id="elpsohhe2sdl7" class="animable"></path>
      <path d="M159.06,220.64l-.19.11-.58.29c-.5.26-1.23.62-2.11,1.09s-1.88,1.11-3,1.84-2.37,1.48-3.56,2.4a4.57,4.57,0,0,0-1.36,1.69,4.62,4.62,0,0,0-.36,2,14.42,14.42,0,0,0,.66,3.42,12.73,12.73,0,0,1,.47,2.34,3.68,3.68,0,0,1,0,.87s0-.31-.07-.87a13.58,13.58,0,0,0-.52-2.3,13.68,13.68,0,0,1-.71-3.46,4.75,4.75,0,0,1,.36-2.07,4.92,4.92,0,0,1,1.41-1.77,20.37,20.37,0,0,1,1.85-1.27l1.75-1.13c1.11-.72,2.13-1.35,3-1.81s1.63-.8,2.15-1l.59-.26Z" style="fill: rgb(235, 153, 110); transform-origin: 153.392px 228.665px;" id="eltgl6ctdo4rk" class="animable"></path>
      <path d="M160.94,241.63s-.09-.1-.25-.31l-.69-.89-1.1-1.4a10,10,0,0,1-1.27-2,5.35,5.35,0,0,1,1.27-5.77,11,11,0,0,1,3.11-1.91c1.14-.54,2.34-1.06,3.58-1.57a96.1,96.1,0,0,1,13.07-4.17c1.7-.43,3.09-.73,4.05-.93l1.1-.22.39-.07a3.35,3.35,0,0,1-.38.11l-1.1.26c-.95.23-2.33.55-4,1a104.72,104.72,0,0,0-13,4.22c-1.23.51-2.43,1-3.57,1.56a11.06,11.06,0,0,0-3.07,1.87,5.19,5.19,0,0,0-1.26,5.57,10.29,10.29,0,0,0,1.22,2c.4.53.76,1,1.08,1.42s.51.7.66.92S160.94,241.63,160.94,241.63Z" style="fill: rgb(235, 153, 110); transform-origin: 170.736px 232.01px;" id="eloall6okf58m" class="animable"></path>
      <path d="M182.38,229.21a3,3,0,0,1-.46.28l-1.29.68c-1.09.57-2.61,1.33-4.34,2.08a43.75,43.75,0,0,1-4.52,1.67c-.59.18-1.07.31-1.41.39a3.14,3.14,0,0,1-.52.12,2,2,0,0,1,.5-.19l1.38-.46c1.17-.4,2.76-1,4.49-1.72s3.25-1.49,4.36-2l1.31-.62A2.75,2.75,0,0,1,182.38,229.21Z" style="fill: rgb(235, 153, 110); transform-origin: 176.11px 231.82px;" id="el9l9w559fzeu" class="animable"></path>
      <path d="M241.83,184.61s-.34.46-.79,1.39a9.77,9.77,0,0,0-.92,4.23,9.33,9.33,0,0,0,2.17,5.93,36.69,36.69,0,0,0,2.73,2.69,9.4,9.4,0,0,1,2.43,3.35,5.83,5.83,0,0,1-.12,4.1,12.78,12.78,0,0,1-2,3.31c-.76,1-1.57,1.81-2.3,2.61a19.64,19.64,0,0,0-1.86,2.38,6.82,6.82,0,0,0-1.37,5.62s0-.14-.1-.4a4.51,4.51,0,0,1-.12-1.2,7.92,7.92,0,0,1,1.47-4.1,19.69,19.69,0,0,1,1.85-2.41c.73-.82,1.53-1.66,2.28-2.62a12.76,12.76,0,0,0,1.95-3.26,5.67,5.67,0,0,0,.11-4,9,9,0,0,0-2.38-3.27,36.73,36.73,0,0,1-2.72-2.72,9.32,9.32,0,0,1-2.17-6.05,9.62,9.62,0,0,1,1-4.27A7,7,0,0,1,241.83,184.61Z" style="fill: rgb(38, 50, 56); transform-origin: 243.671px 202.415px;" id="el7h4prpkq5r2" class="animable"></path>
      <path d="M251,184.13s-.34.47-.79,1.4a9.73,9.73,0,0,0-.91,4.22,9.23,9.23,0,0,0,2.17,5.94c.78.92,1.76,1.76,2.72,2.69a9.13,9.13,0,0,1,2.43,3.34,5.92,5.92,0,0,1-.11,4.11,13.12,13.12,0,0,1-2,3.31c-.77,1-1.58,1.8-2.3,2.61a20.53,20.53,0,0,0-1.87,2.37,8.13,8.13,0,0,0-1.5,4,7.13,7.13,0,0,0,.14,1.59,3.14,3.14,0,0,1-.11-.4,4.5,4.5,0,0,1-.11-1.19,8,8,0,0,1,1.46-4.11,20.57,20.57,0,0,1,1.86-2.4c.72-.82,1.52-1.66,2.28-2.62a12.73,12.73,0,0,0,1.94-3.26,5.7,5.7,0,0,0,.12-4,9.14,9.14,0,0,0-2.38-3.26c-1-.93-1.93-1.77-2.73-2.72a9.34,9.34,0,0,1-2.17-6.06,9.73,9.73,0,0,1,1-4.26A7.73,7.73,0,0,1,251,184.13Z" style="fill: rgb(38, 50, 56); transform-origin: 252.846px 201.92px;" id="el7z6vni5ax5" class="animable"></path>
      <path d="M179.16,331.48c-.06,0,.23-7.57.65-16.9s.8-16.89.85-16.88-.23,7.56-.64,16.89S179.21,331.48,179.16,331.48Z" style="fill: rgb(235, 153, 110); transform-origin: 179.909px 314.59px;" id="elihctvr4l40n" class="animable"></path>
      <path d="M161.77,260.13a74.19,74.19,0,0,1-5.42-5.8,74.19,74.19,0,0,1,5.42,5.8Z" style="fill: rgb(235, 153, 110); transform-origin: 159.06px 257.23px;" id="elebwdof9tf2h" class="animable"></path>
      <path d="M278.51,404.67l-8.14,68.26H384l-18.93-48.55,26.05-6.18s-1.75-4.89-3.43-5S278.51,404.67,278.51,404.67Z" style="fill: rgb(69, 90, 100); transform-origin: 330.745px 438.8px;" id="el3f3f4p80qol" class="animable"></path>
      <path d="M220.17,274.18s44.07-28.54,55.66-32.43c7.13-2.39,28.54-2.77,28.54-2.77l-40.13,68.58-22.81,11.1Z" style="fill: rgb(255, 114, 94); transform-origin: 262.27px 278.82px;" id="el8pyusepjug" class="animable"></path>
      <path d="M441.08,322.14c-13.46-32.5-35.24-69.22-41.69-75.51s-46-11.37-46-11.37l-51.86,5.63-41.58,57,18.21,88.89-.62,1.18a16.36,16.36,0,0,0,1,16.75h0l109.16,8.54.14-84.17Z" style="fill: rgb(255, 114, 94); transform-origin: 350.515px 324.255px;" id="eliwobhk94cno" class="animable"></path>
      <path d="M372.77,369.78a5.15,5.15,0,0,1-.53.72c-.38.45-.89,1.15-1.65,2a62.14,62.14,0,0,1-6.75,6.62,66.29,66.29,0,0,1-58.64,13.76,63.45,63.45,0,0,1-9-2.92c-1-.41-1.82-.81-2.36-1a5.6,5.6,0,0,1-.8-.41,6.72,6.72,0,0,1,.85.31c.55.21,1.33.58,2.38.95a67.29,67.29,0,0,0,67.32-10.94,68.2,68.2,0,0,0,6.84-6.47c.78-.8,1.31-1.48,1.72-1.91A6.49,6.49,0,0,1,372.77,369.78Z" style="fill: rgb(38, 50, 56); transform-origin: 332.905px 382.289px;" id="eld6iref49fca" class="animable"></path>
      <path d="M387.81,325.91a4.5,4.5,0,0,1-.2-.81l-.48-2.32c-.41-2.08-1-5-1.68-8.57-1.37-7.29-3.25-17.28-5.32-28.31-.26-1.38-.51-2.75-.76-4.1s-.56-2.67-.7-4a39.24,39.24,0,0,1-.28-7.68,43,43,0,0,1,1.05-6.87,41.87,41.87,0,0,1,1.93-5.74,35,35,0,0,1,4.37-7.57c.6-.85,1.16-1.43,1.5-1.85a3.07,3.07,0,0,1,.57-.6s-.16.23-.49.67-.85,1-1.41,1.9a36.5,36.5,0,0,0-4.2,7.59,41,41,0,0,0-1.85,5.7,42.27,42.27,0,0,0-1,6.8,39.08,39.08,0,0,0,.31,7.58c.14,1.32.47,2.62.7,4s.5,2.71.76,4.1c2,11,3.84,21,5.17,28.34.64,3.59,1.15,6.52,1.51,8.6l.39,2.34A5,5,0,0,1,387.81,325.91Z" style="fill: rgb(38, 50, 56); transform-origin: 383.063px 286.7px;" id="el2sqhlrs0xmh" class="animable"></path>
      <path d="M265.31,324a8.51,8.51,0,0,1-.37-1.46c-.2-1.05-.47-2.41-.8-4-.65-3.4-1.52-8.12-2.45-13.33s-1.74-9.94-2.3-13.36c-.26-1.65-.48-3-.64-4.06a9.59,9.59,0,0,1-.17-1.5,8.17,8.17,0,0,1,.37,1.46c.2,1,.47,2.4.8,4,.65,3.41,1.52,8.13,2.45,13.34s1.74,9.93,2.3,13.36c.26,1.64.48,3,.64,4.06A9.48,9.48,0,0,1,265.31,324Z" style="fill: rgb(38, 50, 56); transform-origin: 261.945px 305.145px;" id="elg1l9bsjjxmw" class="animable"></path>
      <path d="M391.56,277.29a33.54,33.54,0,0,1,1.37-5.7,33.12,33.12,0,0,1,1.88-5.55,34.21,34.21,0,0,1-1.38,5.7A32.22,32.22,0,0,1,391.56,277.29Z" style="fill: rgb(250, 250, 250); transform-origin: 393.185px 271.665px;" id="el43aytesk2ac" class="animable"></path>
      <path d="M397.41,297.35a24.39,24.39,0,0,1-4.36-2.53,25.6,25.6,0,0,1-4.08-3,49.63,49.63,0,0,1,8.44,5.51Z" style="fill: rgb(250, 250, 250); transform-origin: 393.19px 294.585px;" id="eljnbdvsbda1j" class="animable"></path>
      <path d="M408.45,289.6a16.57,16.57,0,0,1,.12-5.2,17.06,17.06,0,0,1,1.21-5.06c.15,0-.33,2.3-.69,5.13S408.6,289.6,408.45,289.6Z" style="fill: rgb(250, 250, 250); transform-origin: 409.054px 284.47px;" id="eldvc533lsotb" class="animable"></path>
      <path d="M410.66,309a39.64,39.64,0,0,1-1.76-4.66,42.1,42.1,0,0,1-1.71-4.69,16.66,16.66,0,0,1,2.19,4.51A17.14,17.14,0,0,1,410.66,309Z" style="fill: rgb(250, 250, 250); transform-origin: 408.925px 304.325px;" id="elkmbqdinf2wk" class="animable"></path>
      <path d="M402.1,321a51.06,51.06,0,0,1-7.52-6.88A49.75,49.75,0,0,1,402.1,321Z" style="fill: rgb(250, 250, 250); transform-origin: 398.34px 317.56px;" id="el2fhbulkywqs" class="animable"></path>
      <path d="M428.31,307c.11.11-1.46,1.85-3,4.27s-2.56,4.55-2.7,4.49a14.12,14.12,0,0,1,2.26-4.78A14.4,14.4,0,0,1,428.31,307Z" style="fill: rgb(250, 250, 250); transform-origin: 425.463px 311.381px;" id="el2xwewyni1cs" class="animable"></path>
      <path d="M399.73,257.79a13.11,13.11,0,0,1-2.93-2.3,13.6,13.6,0,0,1-2.59-2.69,13.92,13.92,0,0,1,2.94,2.31A13.47,13.47,0,0,1,399.73,257.79Z" style="fill: rgb(250, 250, 250); transform-origin: 396.97px 255.295px;" id="elzux7z3gjjz" class="animable"></path>
      <path d="M367.49,258.57a39.84,39.84,0,0,1-7.76,4.58,19.39,19.39,0,0,1,3.74-2.51A19.74,19.74,0,0,1,367.49,258.57Z" style="fill: rgb(250, 250, 250); transform-origin: 363.61px 260.86px;" id="elotxer0xcirl" class="animable"></path>
      <path d="M361.85,286.8a19.23,19.23,0,0,1-2.78-3.47,18.82,18.82,0,0,1-2.35-3.77,37.67,37.67,0,0,1,5.13,7.24Z" style="fill: rgb(250, 250, 250); transform-origin: 359.285px 283.18px;" id="elekx7iypr0gg" class="animable"></path>
      <path d="M374.06,296a20.92,20.92,0,0,1-5.41,8.05c-.11-.11,1.27-1.78,2.75-4S373.92,295.92,374.06,296Z" style="fill: rgb(250, 250, 250); transform-origin: 371.352px 300.024px;" id="elrfwt9uydoef" class="animable"></path>
      <path d="M344.39,298.06c-.15.05-1-2.19-2.37-4.76s-2.78-4.51-2.66-4.61a20.93,20.93,0,0,1,5,9.37Z" style="fill: rgb(250, 250, 250); transform-origin: 341.871px 293.375px;" id="elvk51dqyqlcl" class="animable"></path>
      <path d="M350.58,317.26a25.76,25.76,0,0,1,2.14-4.7,25,25,0,0,1,2.59-4.47,26.35,26.35,0,0,1-2.13,4.71A25.49,25.49,0,0,1,350.58,317.26Z" style="fill: rgb(250, 250, 250); transform-origin: 352.945px 312.675px;" id="elh7lgrjhxs9f" class="animable"></path>
      <path d="M371.29,331.66a31.27,31.27,0,0,1-1.26-5.45,30.3,30.3,0,0,1-.74-5.53,30.72,30.72,0,0,1,1.26,5.44A30.25,30.25,0,0,1,371.29,331.66Z" style="fill: rgb(250, 250, 250); transform-origin: 370.29px 326.17px;" id="elgqsgifijn0p" class="animable"></path>
      <path d="M333.68,321.11a35,35,0,0,1-3.61-3.35,38.68,38.68,0,0,1-3.52-3.46,17.1,17.1,0,0,1,3.88,3.08A17.65,17.65,0,0,1,333.68,321.11Z" style="fill: rgb(250, 250, 250); transform-origin: 330.115px 317.705px;" id="eltrokvslr8c" class="animable"></path>
      <path d="M317,293.31a48.1,48.1,0,0,1-7.47,6.69,48.1,48.1,0,0,1,7.47-6.69Z" style="fill: rgb(250, 250, 250); transform-origin: 313.265px 296.655px;" id="el9gfx0jb03bd" class="animable"></path>
      <path d="M310.44,285.21a23.81,23.81,0,0,1-2.92-4,24.48,24.48,0,0,1-2.48-4.32,47.61,47.61,0,0,1,5.4,8.36Z" style="fill: rgb(250, 250, 250); transform-origin: 307.74px 281.07px;" id="elrqhq6wfroiq" class="animable"></path>
      <path d="M285,299.17a35.72,35.72,0,0,1-3.63-4.82,34.56,34.56,0,0,1-3.19-5.1,34.7,34.7,0,0,1,3.62,4.81A33.94,33.94,0,0,1,285,299.17Z" style="fill: rgb(250, 250, 250); transform-origin: 281.59px 294.21px;" id="elcsoz6jqoj9q" class="animable"></path>
      <path d="M292.53,315.86c0,.15-3.28.2-7.31.41s-7.29.47-7.31.32a8.84,8.84,0,0,1,2.11-.4c1.32-.17,3.15-.34,5.17-.44s3.86-.11,5.19-.08A8.38,8.38,0,0,1,292.53,315.86Z" style="fill: rgb(250, 250, 250); transform-origin: 285.22px 316.145px;" id="elglyl1ck2le" class="animable"></path>
      <path d="M294.38,267.45c.14,0-.43,2.51-.95,5.59s-.8,5.61-.95,5.6a31.4,31.4,0,0,1,1.9-11.19Z" style="fill: rgb(250, 250, 250); transform-origin: 293.439px 273.045px;" id="elq9geputuaf9" class="animable"></path>
      <path d="M284.25,252.78a39,39,0,0,1,3.8-5.07,38.63,38.63,0,0,1,4.2-4.75,39,39,0,0,1-3.8,5.07A38.63,38.63,0,0,1,284.25,252.78Z" style="fill: rgb(250, 250, 250); transform-origin: 288.25px 247.87px;" id="el0i2drpo18cbt" class="animable"></path>
      <path d="M274.09,266.46c-.11.1-2.47-2.3-5.59-5s-5.78-4.8-5.69-4.92a8.24,8.24,0,0,1,1.87,1.18c1.11.8,2.6,2,4.17,3.35s2.9,2.72,3.84,3.72A8.25,8.25,0,0,1,274.09,266.46Z" style="fill: rgb(250, 250, 250); transform-origin: 268.449px 261.501px;" id="elwq1ffrp33p" class="animable"></path>
      <path d="M257.18,271.22c.07.14-2.9,1.73-6.19,4.23s-5.63,4.92-5.75,4.81a8,8,0,0,1,1.43-1.7,36.29,36.29,0,0,1,4-3.53,35.92,35.92,0,0,1,4.49-2.9A7.78,7.78,0,0,1,257.18,271.22Z" style="fill: rgb(250, 250, 250); transform-origin: 251.211px 275.742px;" id="elcfmc1f7kfiv" class="animable"></path>
      <path d="M234.49,285.26c-.14,0-.12-2.71-.25-6.05s-.35-6-.2-6a25.51,25.51,0,0,1,.72,6A24.42,24.42,0,0,1,234.49,285.26Z" style="fill: rgb(250, 250, 250); transform-origin: 234.414px 279.235px;" id="elo8eefmpjhc7" class="animable"></path>
      <path d="M251.22,300.06a67.64,67.64,0,0,1-9-7.71,33.69,33.69,0,0,1,4.65,3.66A32.11,32.11,0,0,1,251.22,300.06Z" style="fill: rgb(250, 250, 250); transform-origin: 246.72px 296.205px;" id="eleudju3yv62m" class="animable"></path>
      <path d="M277.67,278.86a34.49,34.49,0,0,1-5.76,1.52,32.66,32.66,0,0,1-5.88,1,34.45,34.45,0,0,1,5.77-1.52A33.58,33.58,0,0,1,277.67,278.86Z" style="fill: rgb(250, 250, 250); transform-origin: 271.85px 280.12px;" id="eloxcbyn0yibm" class="animable"></path>
      <path d="M329.54,285.72a9.8,9.8,0,0,1-2.36-2.1,9.64,9.64,0,0,1-2-2.47,10,10,0,0,1,2.36,2.11A9.78,9.78,0,0,1,329.54,285.72Z" style="fill: rgb(250, 250, 250); transform-origin: 327.36px 283.435px;" id="el7l7lquqb42w" class="animable"></path>
      <path d="M352.81,272.21a17.38,17.38,0,0,1-3,3.05,17.91,17.91,0,0,1-3.37,2.66,35.17,35.17,0,0,1,6.39-5.71Z" style="fill: rgb(250, 250, 250); transform-origin: 349.635px 275.065px;" id="elcdek0wq01pw" class="animable"></path>
      <path d="M372.71,277.72c-.14,0,.44-2.3,1-5.13s.74-5.16.89-5.15a17,17,0,0,1-.38,5.24A17.21,17.21,0,0,1,372.71,277.72Z" style="fill: rgb(250, 250, 250); transform-origin: 373.674px 272.58px;" id="elwklqj6e8z6n" class="animable"></path>
      <path d="M270.47,309.89A7.68,7.68,0,0,1,269,307.5a7.84,7.84,0,0,1-1-2.62,7.61,7.61,0,0,1,1.5,2.39A7.91,7.91,0,0,1,270.47,309.89Z" style="fill: rgb(250, 250, 250); transform-origin: 269.235px 307.385px;" id="elczhcps6013" class="animable"></path>
      <path d="M306.3,311.29a13.23,13.23,0,0,1-1.47-3.31,12.61,12.61,0,0,1-1-3.49,12.8,12.8,0,0,1,1.46,3.31A12.44,12.44,0,0,1,306.3,311.29Z" style="fill: rgb(250, 250, 250); transform-origin: 305.065px 307.89px;" id="el1rswt0p3mgw" class="animable"></path>
      <path d="M325.84,301.45c-.11-.1.47-.94,1.3-1.88s1.58-1.63,1.69-1.54-.48.94-1.3,1.88S326,301.54,325.84,301.45Z" style="fill: rgb(250, 250, 250); transform-origin: 327.335px 299.74px;" id="elyp1hw0wpi7b" class="animable"></path>
      <path d="M285.69,364.08a14.78,14.78,0,0,1-2.24-4.58,14.21,14.21,0,0,1-1-5c.15,0,.61,2.2,1.52,4.83S285.83,364,285.69,364.08Z" style="fill: rgb(250, 250, 250); transform-origin: 284.077px 359.29px;" id="elsg0ra0vkeg" class="animable"></path>
      <path d="M300.94,365.22a20,20,0,0,1,1.24-4.32,19,19,0,0,1,1.72-4.14,20.1,20.1,0,0,1-1.23,4.31A19.53,19.53,0,0,1,300.94,365.22Z" style="fill: rgb(250, 250, 250); transform-origin: 302.42px 360.99px;" id="elcoy6tecbrwt" class="animable"></path>
      <path d="M296.49,382.55a21.56,21.56,0,0,1-2.44-4.08,22.08,22.08,0,0,1-2-4.34,21.94,21.94,0,0,1,2.43,4.09A22.89,22.89,0,0,1,296.49,382.55Z" style="fill: rgb(250, 250, 250); transform-origin: 294.27px 378.34px;" id="ela39ydoq3zvv" class="animable"></path>
      <path d="M324.74,377.57a18.79,18.79,0,0,1-5-1.5,17.93,17.93,0,0,1-4.61-2.39,45.5,45.5,0,0,1,4.81,1.91A42.31,42.31,0,0,1,324.74,377.57Z" style="fill: rgb(250, 250, 250); transform-origin: 319.935px 375.625px;" id="elxishe3d93he" class="animable"></path>
      <path d="M315.6,367.29c-.07-.13,1.7-1.28,3.7-2.92s3.5-3.13,3.61-3a19,19,0,0,1-7.31,5.94Z" style="fill: rgb(250, 250, 250); transform-origin: 319.254px 364.336px;" id="elbtr2bxww389" class="animable"></path>
      <path d="M339.14,374.6c-.09.12-1.91-1-4.3-2.16s-4.43-1.81-4.39-1.95a18.19,18.19,0,0,1,8.69,4.11Z" style="fill: rgb(250, 250, 250); transform-origin: 334.795px 372.549px;" id="elxysngdepsq" class="animable"></path>
      <path d="M344.16,384c-.1-.11,1.27-1.51,2.78-3.4s2.57-3.53,2.7-3.45a12,12,0,0,1-2.3,3.78A11.83,11.83,0,0,1,344.16,384Z" style="fill: rgb(250, 250, 250); transform-origin: 346.897px 380.574px;" id="elovsam1s537f" class="animable"></path>
      <path d="M292.81,402.16a29.06,29.06,0,0,1-4.73-2.84,28.75,28.75,0,0,1-4.45-3.27,29.06,29.06,0,0,1,4.73,2.84A28.75,28.75,0,0,1,292.81,402.16Z" style="fill: rgb(250, 250, 250); transform-origin: 288.22px 399.105px;" id="elqvwsmdm1q4d" class="animable"></path>
      <path d="M311.94,397.44c.06.14-2,1.05-4.33,2.57s-4,3-4.11,2.92a17.64,17.64,0,0,1,8.44-5.49Z" style="fill: rgb(250, 250, 250); transform-origin: 307.721px 400.187px;" id="elocrn4gdzk4e" class="animable"></path>
      <path d="M329.05,405a12.91,12.91,0,0,1-2.15-2.84,12,12,0,0,1-1.71-3.12,24.3,24.3,0,0,1,3.86,6Z" style="fill: rgb(250, 250, 250); transform-origin: 327.12px 402.04px;" id="el84eq21if28h" class="animable"></path>
      <path d="M349.67,398.19c.06.14-1.88,1.06-4.08,2.49s-3.85,2.8-4,2.69a13.18,13.18,0,0,1,3.68-3.13A12.87,12.87,0,0,1,349.67,398.19Z" style="fill: rgb(250, 250, 250); transform-origin: 345.631px 400.783px;" id="elw7mnr2wzvs" class="animable"></path>
      <path d="M359.2,389.24c-.14.07-.73-1-1.85-1.87s-2.23-1.31-2.19-1.45a3.55,3.55,0,0,1,2.52,1A3.63,3.63,0,0,1,359.2,389.24Z" style="fill: rgb(250, 250, 250); transform-origin: 357.179px 387.581px;" id="elfo40inn0osn" class="animable"></path>
      <path d="M370,399.54a15.7,15.7,0,0,1-3.42,2.06,16.17,16.17,0,0,1-3.66,1.6,15.1,15.1,0,0,1,3.42-2.06A15.27,15.27,0,0,1,370,399.54Z" style="fill: rgb(250, 250, 250); transform-origin: 366.46px 401.37px;" id="el3hs4deozx02" class="animable"></path>
      <path d="M379.73,405c-.15,0,.4-2.29.76-5.11s.4-5.15.56-5.15a15.65,15.65,0,0,1-.05,5.21A15.41,15.41,0,0,1,379.73,405Z" style="fill: rgb(250, 250, 250); transform-origin: 380.474px 399.87px;" id="elp9axpi3qnhc" class="animable"></path>
      <path d="M378.19,387.64c-.09.13-2.11-1.24-4.88-2.33s-5.17-1.48-5.15-1.64a13.24,13.24,0,0,1,5.34,1.16A12.94,12.94,0,0,1,378.19,387.64Z" style="fill: rgb(250, 250, 250); transform-origin: 373.175px 385.659px;" id="elt4r22gpb33" class="animable"></path>
      <path d="M356.51,335.29a49.08,49.08,0,0,1-8.45-5.49,50.13,50.13,0,0,1,8.45,5.49Z" style="fill: rgb(250, 250, 250); transform-origin: 352.285px 332.545px;" id="ellpzrn4mpl4" class="animable"></path>
      <g id="elv074vvyf85">
        <g style="opacity: 0.3; transform-origin: 338.744px 374.304px;" class="animable">
          <path d="M305.79,393.1a3.09,3.09,0,0,1,.77-3.78,7.24,7.24,0,0,1,3.85-1.51c7.16-1.12,14.83.82,21.54-1.91,4.5-1.84,8-5.59,10.64-9.65s4.73-8.5,7.34-12.6c2.34-3.69,5.33-7.21,9.41-8.79s9.39-.57,11.6,3.2.73,8.4-1.34,12.12c-5.85,10.5-16.39,17.93-27.88,21.47S317.86,395.1,306,393" id="elis55ouzgl9m" class="animable" style="transform-origin: 338.744px 374.304px;"></path>
        </g>
      </g>
      <path d="M447.59,362.17l-11.16-39.82-45.94,5.94,5.38,21.12-68.71-18.33L312,351.2l104.3,49.25a25.54,25.54,0,0,0,28.49-5.86h0C451.19,387.83,450.42,371.06,447.59,362.17Z" style="fill: rgb(255, 190, 157); transform-origin: 380.847px 362.423px;" id="elkw0glkbvfpd" class="animable"></path>
      <path d="M257.7,324c-1.54-.41-3.4-.74-4.54.36a3.2,3.2,0,0,0-.22,3.85c.71,1.19,1.25,1.36,3.13,2l18.29,4.15,7-5.48Z" style="fill: rgb(235, 153, 110); transform-origin: 266.88px 328.987px;" id="elllfh3j0gqz9" class="animable"></path>
      <path d="M314.79,352.16c-22.35-5.47-43.09-12.7-65.17-16.9-1.1-.21-2.34-.5-2.92-1.47-.79-1.32.23-3.11,1.64-3.71a8.61,8.61,0,0,1,4.54-.15,103.78,103.78,0,0,0,35.5-1.2c7.57-1.59,15-4,22.64-5s9.7,3,16.14,7.3" style="fill: rgb(255, 190, 157); transform-origin: 286.792px 337.867px;" id="elte60xb5k8rq" class="animable"></path>
      <path d="M327.16,331.08a20.89,20.89,0,0,0-18.55-10.54c-4.57.15-8.94,1.81-13.35,3s-9.23,1.93-13.49.25c-1.63-.64-3.15-1.63-4.89-1.87s-3.82.61-4.13,2.33c-.24,1.3.6,2.54,1.51,3.51,3.2,3.38,13.39,7.14,21.42,6.74" style="fill: rgb(255, 190, 157); transform-origin: 299.934px 327.533px;" id="el2n6dzsgufnp" class="animable"></path>
      <path d="M295.68,334.51c0-.08-1.23,0-3.41-.22a40.65,40.65,0,0,1-9-2,32.22,32.22,0,0,1-5.83-2.6,13,13,0,0,1-2.8-2.08,4.35,4.35,0,0,1-1.52-3.05,2.71,2.71,0,0,1,2.43-2.21,6.26,6.26,0,0,1,3.8.77,21.24,21.24,0,0,0,4.09,1.61,16.65,16.65,0,0,0,4.52.44c6.19-.21,11.52-2.78,16.58-3.75a21.41,21.41,0,0,1,7.25-.38,21.1,21.1,0,0,1,6.08,1.77,21.45,21.45,0,0,1,7.3,5.55c1.4,1.68,2,2.77,2,2.73a3.18,3.18,0,0,0-.39-.8,13.77,13.77,0,0,0-1.42-2.12,20.55,20.55,0,0,0-7.29-5.86,21.14,21.14,0,0,0-6.24-1.91,21.84,21.84,0,0,0-7.47.31c-5.18,1-10.5,3.48-16.46,3.68a16.3,16.3,0,0,1-4.32-.42,20.76,20.76,0,0,1-3.95-1.55,7.05,7.05,0,0,0-4.26-.8,4.24,4.24,0,0,0-2,.92,2.89,2.89,0,0,0-1,2,5,5,0,0,0,1.75,3.59,13.29,13.29,0,0,0,3,2.16,31.89,31.89,0,0,0,6,2.57,38,38,0,0,0,9.2,1.79,21.17,21.17,0,0,0,2.55,0A3.42,3.42,0,0,0,295.68,334.51Z" style="fill: rgb(235, 153, 110); transform-origin: 299.77px 327.451px;" id="el3hsqura1wk6" class="animable"></path>
      <path d="M416.33,355.76s-.08,0-.23-.07l-.65-.23-2.36-.86c-2-.72-4.78-1.67-7.87-2.64s-5.92-1.77-8-2.31l-2.43-.63-.67-.17c-.15,0-.23-.07-.22-.08l.23,0,.68.13c.58.12,1.42.31,2.45.56,2.07.52,4.9,1.29,8,2.26s5.87,1.95,7.86,2.7c1,.38,1.79.7,2.34.93l.63.27Z" style="fill: rgb(235, 153, 110); transform-origin: 405.115px 352.265px;" id="eliqz1c801r" class="animable"></path>
      <path d="M330,273.63A24.45,24.45,0,0,0,353.4,249.2v-29L355,127.54l-2.07-5.22-48.8-15.4c-15-1.17-25.08,19.46-25.61,34.5-.59,16.72-.65,37.15,1.67,49.54,4.66,24.92,23.94,27.58,23.94,27.58l.38,31A24.45,24.45,0,0,0,330,273.63Z" style="fill: rgb(255, 190, 157); transform-origin: 316.587px 190.262px;" id="elqsnrhxyv86g" class="animable"></path>
      <path d="M285,157.67a3.22,3.22,0,0,0,3.19,3.16,3.09,3.09,0,0,0,3.23-3,3.22,3.22,0,0,0-3.19-3.15A3.07,3.07,0,0,0,285,157.67Z" style="fill: rgb(38, 50, 56); transform-origin: 288.21px 157.755px;" id="eljcw77jy31i" class="animable"></path>
      <path d="M283.23,151.76c.41.41,2.8-1.46,6.25-1.55s6,1.57,6.4,1.14c.18-.19-.25-.94-1.38-1.71a8.77,8.77,0,0,0-5.13-1.43,8.47,8.47,0,0,0-5,1.75C283.37,150.81,283,151.58,283.23,151.76Z" style="fill: rgb(38, 50, 56); transform-origin: 289.542px 150.011px;" id="el1c22amxlbqn" class="animable"></path>
      <path d="M318.49,157.67a3.22,3.22,0,0,0,3.18,3.16,3.07,3.07,0,0,0,3.23-3,3.2,3.2,0,0,0-3.18-3.15A3.07,3.07,0,0,0,318.49,157.67Z" style="fill: rgb(38, 50, 56); transform-origin: 321.695px 157.755px;" id="el3a1nvbc3kgg" class="animable"></path>
      <path d="M317.21,151.47c.41.4,2.8-1.46,6.25-1.55s6,1.57,6.4,1.14c.17-.19-.25-.94-1.38-1.71a8.79,8.79,0,0,0-5.13-1.43,8.47,8.47,0,0,0-5,1.75C317.35,150.52,317,151.28,317.21,151.47Z" style="fill: rgb(38, 50, 56); transform-origin: 323.524px 149.72px;" id="elszhfuq5bkm" class="animable"></path>
      <path d="M305.38,177.43c0-.19-2.15-.51-5.64-.86-.88-.06-1.72-.21-1.89-.81a4.45,4.45,0,0,1,.52-2.63c.77-2.16,1.57-4.42,2.42-6.79,3.36-9.67,5.77-17.6,5.38-17.74s-3.44,7.6-6.79,17.26l-2.32,6.83c-.3,1-.85,2.16-.36,3.47a2.19,2.19,0,0,0,1.49,1.25,5.65,5.65,0,0,0,1.5.17C303.2,177.67,305.37,177.63,305.38,177.43Z" style="fill: rgb(38, 50, 56); transform-origin: 301.358px 163.112px;" id="elg1imwol5ag" class="animable"></path>
      <path d="M304.12,218.38a63.72,63.72,0,0,0,33.28-9.87s-7.66,17.42-32.78,15.77Z" style="fill: rgb(235, 153, 110); transform-origin: 320.76px 216.45px;" id="elptmwvv6essn" class="animable"></path>
      <path d="M315.94,138c.37.93,3.81.39,7.87.77s7.38,1.39,7.9.53c.22-.41-.37-1.28-1.72-2.15a13.74,13.74,0,0,0-12-1C316.51,136.75,315.79,137.51,315.94,138Z" style="fill: rgb(38, 50, 56); transform-origin: 323.838px 137.428px;" id="el50g25593oue" class="animable"></path>
      <path d="M284.23,141.72c.63.77,3-.11,5.85-.23s5.3.39,5.83-.45c.23-.41-.17-1.18-1.25-1.89a8,8,0,0,0-4.79-1.16,8.12,8.12,0,0,0-4.62,1.71C284.26,140.53,284,141.35,284.23,141.72Z" style="fill: rgb(38, 50, 56); transform-origin: 290.062px 140px;" id="eledcymnbfstg" class="animable"></path>
      <path d="M295.52,108.63a47.42,47.42,0,0,0,27.28,36.22q-.65-3-1.28-6c6.18,10.22,19.3,18.78,27.74,22.24,2.61,1.07,5.95.11,8.32-1.41,3.32-2.12,3.52-6.88,2.82-10.76-2.17-12.14-9.37-23-18.75-31S320.83,104.58,309,101c-3.13-.95-4.84-1.6-7.94-.55s-7.16,4.58-5.66,7.48" style="fill: rgb(38, 50, 56); transform-origin: 327.903px 130.728px;" id="eljokgp1tiau" class="animable"></path>
      <path d="M345.3,142.7c7.16,25.65-2.31,54.16.13,80.68.54,5.91,2.69,12.75,7.67,16,2.46,1.6,3,.59,5.83,1.15,7.23,1.4,14.06-1.63,21.28-.23,6.52,1.27,16.89,5,21-.23s-.63-11.38-4.65-16.5-9.42-9.5-11.4-15.71c-2.14-6.67.17-13.83,1.17-20.77,3.42-23.69-5-47.69-19-67.12-4.88-6.77-12.24-13.18-18.86-18.27s-21.59-9.38-29.93-9-22.23,7-25.63,16.35" style="fill: rgb(38, 50, 56); transform-origin: 347.851px 167.727px;" id="el8ncagjoomat" class="animable"></path>
      <path d="M317.61,128.06c-.05.09.5.46,1.56,1.07l1.89,1.1-1.61-1.54a53.37,53.37,0,0,1-9.93-12.51c-5-8.61-5.76-16.86-6.16-16.76-.13,0-.13,2.06.53,5.31a41.4,41.4,0,0,0,4.58,12,39.88,39.88,0,0,0,10.64,12.32l.29-.44C318.27,128.19,317.65,128,317.61,128.06Z" style="fill: rgb(69, 90, 100); transform-origin: 312.176px 114.825px;" id="elw0eldbs8kbm" class="animable"></path>
      <path d="M363,234.78a9.45,9.45,0,0,0,0-1.65c0-1.08,0-2.67.05-4.72a96.51,96.51,0,0,1,2.54-17.12c1.54-7.16,4.09-15.55,5.62-25.21a71.2,71.2,0,0,0,.73-15.31,41.17,41.17,0,0,0-4.09-16,34.18,34.18,0,0,0-10.79-12.44c-4.3-3.19-8.79-5.65-12.89-8.21a104.18,104.18,0,0,1-20-16,109.79,109.79,0,0,1-11-13.35c-1.17-1.68-2.06-3-2.65-3.91a7.83,7.83,0,0,0-1-1.34,9.32,9.32,0,0,0,.76,1.47c.51,1,1.35,2.32,2.46,4a98.76,98.76,0,0,0,10.81,13.67,101.28,101.28,0,0,0,20,16.38c4.12,2.6,8.58,5.08,12.77,8.21a33.19,33.19,0,0,1,10.42,12,40.44,40.44,0,0,1,4,15.5,71.86,71.86,0,0,1-.65,15.07c-1.45,9.54-3.92,18-5.36,25.19a87.69,87.69,0,0,0-2.17,17.29,43.85,43.85,0,0,0,.18,4.74A7.42,7.42,0,0,0,363,234.78Z" style="fill: rgb(69, 90, 100); transform-origin: 340.794px 167.15px;" id="elp2ag6s5hbc" class="animable"></path>
      <path d="M278.5,120.55a172.13,172.13,0,0,0-1.56,19.51c5.06-4.08,10.17-8.25,14-13.52s6.22-11.86,5.22-18.29a21.74,21.74,0,0,0-15,15.76" style="fill: rgb(38, 50, 56); transform-origin: 286.664px 124.155px;" id="el41mkizmevvq" class="animable"></path>
      <path d="M304.29,189.15c.86-1.68,1.09-2.11,2.55-2.91a11.6,11.6,0,0,1,3.39-.34c1.11.06,1.85,1.16,2.26,2.19a6.62,6.62,0,0,1,.27,4.73c-.58,1.51-5.82,3.32-8.64-.65" style="fill: rgb(235, 153, 110); transform-origin: 308.597px 190.23px;" id="elvhise0t6oh" class="animable"></path>
      <path d="M308.6,194.8a6.68,6.68,0,0,1,.86,0,3.83,3.83,0,0,0,2.1-.75,4.73,4.73,0,0,0,1.51-2.89,4,4,0,0,0-1.23-3.64,5.87,5.87,0,0,0-3.8-1.25,3.9,3.9,0,0,0-2.87,1.43,4.54,4.54,0,0,0-.89,2.07,3.85,3.85,0,0,1-.16.85,2,2,0,0,1-.05-.88,4.4,4.4,0,0,1,.81-2.26,4.35,4.35,0,0,1,1.26-1.13,4.14,4.14,0,0,1,1.88-.56,6.51,6.51,0,0,1,2.12.27,5.15,5.15,0,0,1,2,1.07,4,4,0,0,1,1.25,2,4.63,4.63,0,0,1,.11,2.15,6.45,6.45,0,0,1-.65,1.81,3.56,3.56,0,0,1-3.43,1.94A1.77,1.77,0,0,1,308.6,194.8Z" style="fill: rgb(38, 50, 56); transform-origin: 308.81px 190.412px;" id="el8xrnxof43x" class="animable"></path>
      <path d="M320.49,169.29c.09.11-.24.49-.82.56s-1-.24-.92-.36.44-.11.86-.16S320.4,169.17,320.49,169.29Z" style="fill: rgb(235, 153, 110); transform-origin: 319.622px 169.548px;" id="elwuqx9hwrkhf" class="animable"></path>
      <path d="M326,169c-.14,0-.33-.27-.41-.66s-.05-.74.09-.77.33.26.42.66S326.18,169,326,169Z" style="fill: rgb(235, 153, 110); transform-origin: 325.851px 168.284px;" id="elk57oc1odj" class="animable"></path>
      <path d="M332.69,166.78c0,.14-.38.18-.77.1s-.69-.28-.66-.42.38-.18.77-.09S332.72,166.64,332.69,166.78Z" style="fill: rgb(235, 153, 110); transform-origin: 331.975px 166.621px;" id="eld9wh7gp4qgk" class="animable"></path>
      <path d="M323.35,174.85c-.14,0-.26-.32-.26-.71s.12-.71.26-.71.26.31.26.71S323.49,174.85,323.35,174.85Z" style="fill: rgb(235, 153, 110); transform-origin: 323.35px 174.14px;" id="elr6m0h6754m9" class="animable"></path>
      <path d="M329.36,172.16c-.14,0-.26-.07-.26-.16s.12-.16.26-.16.26.07.26.16S329.51,172.16,329.36,172.16Z" style="fill: rgb(235, 153, 110); transform-origin: 329.36px 172px;" id="el9o15lmpy07e" class="animable"></path>
      <path d="M286.32,170.26c0,.14-.5.24-1,0s-.81-.69-.7-.78.47.11.91.31S286.33,170.11,286.32,170.26Z" style="fill: rgb(235, 153, 110); transform-origin: 285.459px 169.931px;" id="el9tru3hta47j" class="animable"></path>
      <path d="M290.79,169.32a.3.3,0,0,1-.18-.38c.05-.17.19-.29.33-.25a.3.3,0,0,1,.18.38A.29.29,0,0,1,290.79,169.32Z" style="fill: rgb(235, 153, 110); transform-origin: 290.865px 169.003px;" id="elxlak8ube30o" class="animable"></path>
      <path d="M288.4,175.8c-.14,0-.29-.22-.33-.52s0-.57.18-.59.29.21.34.52S288.55,175.78,288.4,175.8Z" style="fill: rgb(235, 153, 110); transform-origin: 288.33px 175.244px;" id="eleczhnigztkm" class="animable"></path>
      <path d="M282.52,175.48c-.12-.08-.07-.35.1-.62s.42-.41.54-.33.07.36-.1.62S282.64,175.56,282.52,175.48Z" style="fill: rgb(235, 153, 110); transform-origin: 282.84px 175.005px;" id="el7uc4nd9p00o" class="animable"></path>
    </g>
    <g id="freepik--cooking-pot--inject-51" class="animable animator-active" style="transform-origin: 203.69px 416.575px;">
      <path d="M260.1,399.31v46.4a24.49,24.49,0,0,1-10.25,19.92h0a24.48,24.48,0,0,1-14.22,4.55h-62a24.45,24.45,0,0,1-13.11-3.8L158.38,465A24.48,24.48,0,0,1,147,444.37V399.31Z" style="fill: rgb(38, 50, 56); transform-origin: 203.55px 434.745px;" id="elmb8av7p9ssm" class="animable"></path>
      <path d="M147,410.48H115.57v5.46l18.15,2.79A15.89,15.89,0,0,1,146,427.91a11.45,11.45,0,0,1,1,4.51s6.4-.1,7.49-7.75c0-.15.05-.3.07-.45a13.26,13.26,0,0,0-7.39-13.66Z" style="fill: rgb(69, 90, 100); transform-origin: 135.121px 421.45px;" id="el4rxyuakkfqf" class="animable"></path>
      <path d="M260.1,410.52h31.45V416l-18.15,2.79A15.88,15.88,0,0,0,261.09,428a11.45,11.45,0,0,0-1,4.51s-6.39-.1-7.49-7.74l-.06-.46a13.26,13.26,0,0,1,7.39-13.66Z" style="fill: rgb(69, 90, 100); transform-origin: 271.989px 421.515px;" id="eldl56yy96bha" class="animable"></path>
      <path d="M260.1,410.52a3.5,3.5,0,0,1-.46.29,12.37,12.37,0,0,0-1.32.82,13.39,13.39,0,0,0-3.93,4.29,13,13,0,0,0-1.59,8.7,9.71,9.71,0,0,0,2.09,5,7.67,7.67,0,0,0,5.22,2.61l-.24.23a11.92,11.92,0,0,1,1.33-5.31,14.79,14.79,0,0,1,3.53-4.62A16.49,16.49,0,0,1,270,419.4a29.85,29.85,0,0,1,6.17-1.31l15.37-2.35-.21.24c0-1.87,0-3.69,0-5.46l.24.24-22.65-.09-6.47-.07-1.73,0a2.67,2.67,0,0,1-.6,0l.59,0,1.71,0,6.45-.07,22.7-.09h.24v.24c0,1.77,0,3.59,0,5.46v.22l-.21,0-15.37,2.37a29.59,29.59,0,0,0-6.07,1.29,15.82,15.82,0,0,0-5.08,3,13.36,13.36,0,0,0-4.73,9.55v.25h-.23a8,8,0,0,1-5.54-2.81,10,10,0,0,1-2.14-5.21,13.25,13.25,0,0,1,1.73-8.9,13,13,0,0,1,4.09-4.27,11,11,0,0,1,1.37-.77A3,3,0,0,1,260.1,410.52Z" style="fill: rgb(38, 50, 56); transform-origin: 272.043px 421.63px;" id="el2n3m9yawvvb" class="animable"></path>
      <path d="M258.08,400.55a1.11,1.11,0,0,1-.26.15l-.78.39-3,1.47-2.19,1.05c-.81.37-1.72.71-2.68,1.1-1.93.76-4.09,1.73-6.59,2.49l-3.89,1.3c-1.36.44-2.81.77-4.29,1.18-2.95.87-6.18,1.46-9.56,2.16a136.67,136.67,0,0,1-22.37,2,135.61,135.61,0,0,1-22.37-2c-3.38-.69-6.61-1.29-9.56-2.15-1.48-.42-2.93-.75-4.29-1.19l-3.89-1.29c-2.5-.76-4.66-1.73-6.6-2.48-1-.4-1.86-.74-2.67-1.1l-2.19-1.05-3-1.47-.78-.39-.25-.15a.92.92,0,0,1,.28.1l.8.34c.73.34,1.76.8,3.06,1.38l2.21,1c.81.35,1.72.67,2.68,1.06,1.94.72,4.1,1.67,6.61,2.4l3.89,1.26c1.35.43,2.8.75,4.27,1.15,2.95.85,6.17,1.42,9.55,2.1a139.26,139.26,0,0,0,22.28,2,139.11,139.11,0,0,0,22.28-2c3.38-.68,6.6-1.26,9.55-2.11,1.47-.4,2.92-.72,4.27-1.15l3.89-1.26c2.5-.73,4.67-1.68,6.6-2.41,1-.38,1.87-.71,2.69-1.05l2.2-1L257,401l.8-.35Z" style="fill: rgb(69, 90, 100); transform-origin: 202.475px 407.195px;" id="el15sfs43sovk" class="animable"></path>
      <path d="M258.15,404.39s-.08.06-.26.15l-.78.4-3,1.47-2.19,1c-.81.36-1.72.7-2.67,1.1-1.94.76-4.1,1.73-6.6,2.49l-3.89,1.29c-1.36.44-2.8.77-4.28,1.19-3,.87-6.19,1.46-9.57,2.16a136.58,136.58,0,0,1-22.36,2,136.54,136.54,0,0,1-22.37-2c-3.39-.7-6.62-1.29-9.57-2.16-1.48-.41-2.93-.74-4.29-1.18l-3.89-1.29c-2.5-.76-4.66-1.73-6.59-2.49-1-.39-1.87-.73-2.68-1.1L151,406.43l-3-1.47-.78-.39c-.18-.09-.27-.14-.26-.15l.28.1.8.35,3.06,1.38,2.21,1c.82.34,1.72.67,2.69,1.05,1.93.73,4.1,1.67,6.6,2.41l3.89,1.25c1.35.43,2.8.75,4.28,1.15,2.94.85,6.17,1.43,9.54,2.11a139.43,139.43,0,0,0,22.29,2,138.18,138.18,0,0,0,22.28-2c3.37-.68,6.59-1.25,9.54-2.1,1.47-.4,2.92-.72,4.28-1.15l3.88-1.26c2.51-.74,4.67-1.68,6.61-2.41,1-.38,1.87-.71,2.68-1.06l2.21-1,3.06-1.38.8-.34Z" style="fill: rgb(69, 90, 100); transform-origin: 202.555px 411.015px;" id="elmjfx1xxq6vi" class="animable"></path>
      <path d="M236.82,471.62c8.25-1.28,12.49-5.78,14.89-13.78a12.25,12.25,0,0,0,.19-7.66c-.88-2.44-3.22-4.49-5.82-4.39-3.14.13-5.38,3.1-6.66,6s-2.23,6.11-4.7,8.06-7.1,1.37-7.63-1.74a12.42,12.42,0,0,0-.26-2.45c-.7-1.88-3.68-1.78-5-.25s-1.36,3.73-1.3,5.74.13,4.17-1,5.84c-1.67,2.49-5.16,2.77-8.16,2.79l-17.72.17s3,1.47,10.94,1.47C215.37,471.39,236.82,471.62,236.82,471.62Z" style="fill: rgb(255, 114, 94); transform-origin: 223.037px 458.703px;" id="elcc1dgo1of3" class="animable"></path>
      <path d="M202.55,469.92c-5.93.1-12.22.11-17.28-3-3.2-1.95-5.88-5.09-9.58-5.65a4.25,4.25,0,0,0-3.09.54,2.31,2.31,0,0,0-.89,2.8c-1.64-.62-2.89-1.93-4.3-3s-3.24-1.84-4.88-1.21a4,4,0,0,0-2.13,4.62,6.52,6.52,0,0,0,3.59,4,19.18,19.18,0,0,0,5.35,1.45l42.67.81C212,470.2,202.55,469.92,202.55,469.92Z" style="fill: rgb(255, 114, 94); transform-origin: 186.139px 465.726px;" id="elf3q5pb2kmtm" class="animable"></path>
      <polygon points="169.25 472.93 169.34 470.58 236.82 471.62 236.82 472.93 169.25 472.93" style="fill: rgb(69, 90, 100); transform-origin: 203.035px 471.755px;" id="el77p3f2rg4t8" class="animable"></polygon>
      <path d="M232.51,445.71a9.34,9.34,0,0,1-.36-8.91c.61-1.21,1.86-2.41,3.15-2s1.55,2,1.52,3.28c-.07,2.79-2.08,8.43-4.31,7.61" style="fill: rgb(255, 114, 94); transform-origin: 234.006px 440.244px;" id="el736vwira46d" class="animable"></path>
      <path d="M193,362c.06,0-.06.48,0,1.34a10.73,10.73,0,0,0,.95,3.5,25.79,25.79,0,0,1,1.89,5.18,9.1,9.1,0,0,1-1.62,6.53c-1.28,2.05-2.81,3.74-3.81,5.51a11.22,11.22,0,0,0-1.13,2.63,6.94,6.94,0,0,0-.17,2.45,5.38,5.38,0,0,0,1.43,3.23,11.6,11.6,0,0,0,1.05.82s-.12,0-.34-.11a3.88,3.88,0,0,1-.85-.56,5.44,5.44,0,0,1-1.66-3.33,6.89,6.89,0,0,1,.13-2.61A11.2,11.2,0,0,1,190,383.8c1-1.83,2.54-3.55,3.78-5.55a8.74,8.74,0,0,0,1.6-6.17,29,29,0,0,0-1.76-5.12,9.89,9.89,0,0,1-.81-3.63,4.5,4.5,0,0,1,.11-1A1.06,1.06,0,0,1,193,362Z" style="fill: rgb(38, 50, 56); transform-origin: 192.297px 377.595px;" id="elvmfrv3g90pm" class="animable"></path>
      <path d="M203.52,361.1c.06,0-.07.48,0,1.34a11,11,0,0,0,.95,3.5,26.39,26.39,0,0,1,1.9,5.18,9.15,9.15,0,0,1-1.63,6.53c-1.28,2.05-2.8,3.74-3.81,5.51a10.94,10.94,0,0,0-1.12,2.63,6.77,6.77,0,0,0-.18,2.46,5.41,5.41,0,0,0,1.43,3.22,11.6,11.6,0,0,0,1.05.82s-.12,0-.33-.11a3.38,3.38,0,0,1-.86-.56,5.43,5.43,0,0,1-1.65-3.33,7.09,7.09,0,0,1,.12-2.61,10.87,10.87,0,0,1,1.13-2.76c1-1.83,2.53-3.55,3.78-5.54a8.76,8.76,0,0,0,1.59-6.18,27.5,27.5,0,0,0-1.76-5.12,9.89,9.89,0,0,1-.81-3.63,4.5,4.5,0,0,1,.11-1C203.46,361.21,203.5,361.09,203.52,361.1Z" style="fill: rgb(38, 50, 56); transform-origin: 202.825px 376.695px;" id="ele6b9hbngb3g" class="animable"></path>
      <path d="M214,360.22c.06,0-.06.48,0,1.34a11.17,11.17,0,0,0,1,3.51,26.07,26.07,0,0,1,1.89,5.17,9.15,9.15,0,0,1-1.63,6.53c-1.28,2.05-2.8,3.74-3.8,5.51a11,11,0,0,0-1.13,2.63,6.75,6.75,0,0,0-.17,2.46,5.41,5.41,0,0,0,1.42,3.22,10.73,10.73,0,0,0,1.06.82s-.13,0-.34-.11a3.76,3.76,0,0,1-.86-.56,5.43,5.43,0,0,1-1.65-3.33,7.09,7.09,0,0,1,.12-2.61,11.42,11.42,0,0,1,1.13-2.75c1-1.84,2.54-3.56,3.78-5.55a8.82,8.82,0,0,0,1.6-6.18,28.23,28.23,0,0,0-1.77-5.12,10.1,10.1,0,0,1-.81-3.63,4.39,4.39,0,0,1,.12-1C213.94,360.33,214,360.22,214,360.22Z" style="fill: rgb(38, 50, 56); transform-origin: 213.345px 375.815px;" id="elq4gqjw8y5qi" class="animable"></path>
    </g>
    <g id="freepik--Plant--inject-51" class="animable" style="transform-origin: 78.3469px 348.487px;">
      <path d="M68,473.29s-13.48-65.85,0-102.44H83s11.45,38.59,0,102.44Z" style="fill: rgb(255, 114, 94); transform-origin: 75.0489px 422.07px;" id="el64b4fa563mc" class="animable"></path>
      <g id="elx39slzlqdl">
        <g style="opacity: 0.7; transform-origin: 75.0489px 422.07px;" class="animable">
          <path d="M68,473.29s-13.48-65.85,0-102.44H83s11.45,38.59,0,102.44Z" style="fill: rgb(255, 255, 255); transform-origin: 75.0489px 422.07px;" id="ell5lw4qyiuba" class="animable"></path>
        </g>
      </g>
      <path d="M79.05,336.67a28.44,28.44,0,0,1,24.26-14.09,26.93,26.93,0,0,1-25.19,14.86" style="fill: rgb(69, 90, 100); transform-origin: 90.715px 330.021px;" id="el9rtoikk53kf" class="animable"></path>
      <path d="M82.76,309.22A28.43,28.43,0,0,1,75.88,282a26.9,26.9,0,0,1,7.36,28.3" style="fill: rgb(69, 90, 100); transform-origin: 79.7329px 296.15px;" id="elr4s1787x9o" class="animable"></path>
      <path d="M69.28,309.61A24.83,24.83,0,0,1,54,290.14a23.51,23.51,0,0,1,16.06,20.18" style="fill: rgb(69, 90, 100); transform-origin: 62.03px 300.23px;" id="elaw63lohivyd" class="animable"></path>
      <path d="M65.59,280.37A18.09,18.09,0,0,1,71,263.16a17.16,17.16,0,0,1-5.53,18" style="fill: rgb(69, 90, 100); transform-origin: 68.4226px 272.16px;" id="el6oijw7ius" class="animable"></path>
      <path d="M76,362.37a18.1,18.1,0,0,1,10.49-14.68,17.14,17.14,0,0,1-10.83,15.38" style="fill: rgb(69, 90, 100); transform-origin: 81.075px 355.38px;" id="el3o3ekwrztc5" class="animable"></path>
      <path d="M59.68,252.81s2.7,10.09,5.85,26.66l1.2,6.51c.41,2.26.76,4.63,1.16,7.08.83,4.88,1.51,10.14,2.27,15.66,1.37,11.07,2.56,23.27,3.29,36.12s.83,25.12.67,36.27c-.15,5.58-.25,10.88-.54,15.83-.14,2.47-.22,4.87-.38,7.16s-.33,4.5-.49,6.6c-1.32,16.82-2.9,27.13-2.9,27.13s0-.16,0-.48L70,436c.14-1.26.33-3.07.58-5.4.13-1.17.28-2.47.43-3.9s.28-3,.43-4.64c.28-3.34.68-7.13.93-11.33q.21-3.17.45-6.6c.15-2.3.22-4.69.34-7.16.28-4.95.36-10.24.5-15.81.13-11.14,0-23.4-.71-36.24s-1.91-25-3.25-36.09c-.74-5.52-1.4-10.77-2.22-15.66-.39-2.44-.73-4.81-1.13-7.08s-.79-4.43-1.16-6.51c-.71-4.15-1.52-7.88-2.16-11.16-.34-1.64-.65-3.17-.93-4.57s-.6-2.68-.86-3.83l-1.16-5.3c-.13-.59-.22-1-.3-1.38S59.68,252.81,59.68,252.81Z" style="fill: rgb(38, 50, 56); transform-origin: 66.9328px 345.32px;" id="elx2e6lu9iew" class="animable"></path>
      <path d="M92.83,276.81a1.48,1.48,0,0,1-.09.36c-.08.25-.18.59-.32,1l-1.26,3.9-.93,2.82c-.31,1-.65,2.16-1,3.37-.71,2.43-1.59,5.17-2.39,8.26-.41,1.54-.85,3.15-1.3,4.83s-.84,3.44-1.29,5.26c-.92,3.63-1.71,7.55-2.58,11.67-1.62,8.26-3.11,17.4-4.2,27.06s-1.57,18.91-1.79,27.33c0,4.21-.13,8.21,0,11.95,0,1.87,0,3.68.11,5.42s.15,3.4.22,5c.1,3.19.37,6.06.53,8.58.1,1.26.18,2.44.26,3.52s.21,2.06.29,3c.17,1.75.3,3.12.39,4.08,0,.45.06.8.09,1.07a2.43,2.43,0,0,1,0,.36,2.08,2.08,0,0,1-.07-.36c0-.26-.08-.61-.13-1.05-.12-1-.28-2.33-.49-4.08l-.33-2.95c-.1-1.08-.2-2.25-.31-3.51-.19-2.53-.48-5.4-.61-8.59-.08-1.59-.17-3.26-.25-5s-.1-3.55-.15-5.42c-.12-3.75,0-7.76,0-12,.19-8.43.71-17.7,1.75-27.38s2.6-18.83,4.25-27.1c.89-4.12,1.69-8,2.63-11.67.46-1.82.86-3.59,1.32-5.27s.91-3.28,1.34-4.82c.82-3.08,1.72-5.82,2.46-8.24.38-1.21.74-2.33,1.06-3.37s.68-2,1-2.8c.59-1.66,1-3,1.36-3.88.16-.42.28-.75.37-1A1.51,1.51,0,0,1,92.83,276.81Z" style="fill: rgb(38, 50, 56); transform-origin: 84.0033px 346.23px;" id="elvh3gwyvmf2h" class="animable"></path>
      <path d="M90.65,284.26c-3.28-2.76-3.48-7.9-1.87-11.87s4.64-7.16,7.17-10.62,4.68-7.6,4.1-11.84a8.66,8.66,0,0,1-.21-3c.21-1,1.2-1.93,2.17-1.63s1.21,1.28,1.39,2.16a29.5,29.5,0,0,1,.5,8.33,11.54,11.54,0,0,1,7.5-6.76,9.92,9.92,0,0,1-2.68,9.17c2.17-.9,4.49-1.83,6.8-1.38s4.37,2.89,3.5,5.08c-1,2.48-4.37,2.53-7,3a12.65,12.65,0,0,0-7.5,4.41c-2.38,2.9-3.33,6.69-5.26,9.91s-5.62,6-9.18,4.86" style="fill: rgb(255, 114, 94); transform-origin: 103.511px 264.792px;" id="ela4revoat6dq" class="animable"></path>
      <path d="M62.5,263.92c3.63-2.26,4.55-7.33,3.51-11.48s-3.58-7.74-5.6-11.52-3.57-8.18-2.4-12.3a8.64,8.64,0,0,0,.63-3c-.07-1-.91-2.08-1.92-1.92s-1.38,1.1-1.68,2a29.25,29.25,0,0,0-1.66,8.17,11.52,11.52,0,0,0-6.48-7.75,9.92,9.92,0,0,0,1.37,9.46c-2-1.2-4.2-2.44-6.54-2.32s-4.73,2.25-4.18,4.53c.62,2.6,4,3.13,6.51,4a12.74,12.74,0,0,1,6.81,5.42c1.94,3.2,2.36,7.09,3.81,10.55s4.72,6.75,8.41,6.1" style="fill: rgb(255, 114, 94); transform-origin: 51.9405px 243.813px;" id="ely3g32mzfc4f" class="animable"></path>
      <path d="M58.21,313.43a2.91,2.91,0,0,1,.37.65l1,1.9c.42.83.92,1.85,1.45,3.06s1.19,2.56,1.81,4.1,1.33,3.21,2,5.05,1.36,3.8,2.07,5.88c1.34,4.18,2.65,8.84,3.76,13.78s1.86,9.73,2.4,14.09c.24,2.18.49,4.26.61,6.21s.25,3.76.32,5.42.08,3.16.1,4.48,0,2.45,0,3.38S74,383,74,383.57s0,.74-.06.74a3.39,3.39,0,0,1,0-.75c0-.53,0-1.24,0-2.13s0-2.06-.06-3.38-.06-2.81-.18-4.46-.19-3.47-.38-5.41-.4-4-.65-6.18c-.57-4.34-1.36-9.1-2.43-14s-2.41-9.57-3.72-13.75c-.69-2.08-1.33-4.06-2-5.88s-1.32-3.52-1.94-5.06-1.21-2.91-1.72-4.12-1-2.25-1.37-3.09l-.88-1.95A4.33,4.33,0,0,1,58.21,313.43Z" style="fill: rgb(38, 50, 56); transform-origin: 66.1594px 348.87px;" id="eljljfqv006b" class="animable"></path>
      <path d="M60.69,323.06c1.81-1.47,2-4.27,1.12-6.44s-2.46-3.94-3.81-5.85-2.48-4.18-2.13-6.48a4.88,4.88,0,0,0,.14-1.65c-.11-.55-.64-1.06-1.17-.91s-.67.69-.78,1.17a16,16,0,0,0-.34,4.53,6.27,6.27,0,0,0-4-3.75,5.4,5.4,0,0,0,1.38,5,6.68,6.68,0,0,0-3.7-.81c-1.25.22-2.4,1.54-2,2.73.52,1.37,2.36,1.42,3.79,1.7a7,7,0,0,1,4.05,2.47c1.27,1.6,1.76,3.67,2.78,5.44s3,3.33,5,2.73" style="fill: rgb(255, 114, 94); transform-origin: 53.8194px 312.387px;" id="el5hkwol6jzfx" class="animable"></path>
    </g>
    <defs>
      <filter id="active" height="200%">
        <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
        <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>
        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <filter id="hover" height="200%">
        <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
        <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>
        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
        <feColorMatrix type="matrix" values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "></feColorMatrix>
      </filter>
    </defs>
  </svg>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '~/assets/scss/main.scss';

.home-animation {
  width: 95%;
  top: -10%;
  margin: 0 auto;
  position: relative;

  @include breakpoint-up(sm) {
    width: 45%;
    top: -10%;
    margin: 0 3%;
  }
}

svg#freepik_stories-cooking:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-cooking.animated #freepik--cooking-pot--inject-51 {
  animation: 3s Infinite linear shake;
  animation-delay: 0s;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
