<template>
  <modal :name="name">
    <div class="modal-image">
      <img :src="image" alt="">
    </div>
    <div class="modal-infos">
      <span>fermer modal</span>
      <h2>{{title}}</h2>
      <p>{{desc}}</p>
      <div>
        <ul class="categories">
          <li  v-for="category in categories" :key="category.id" :class=" 'category category--'+ category.name" >
            <router-link
            :to="{ path: '/category/' + category.id }"
            :key="category.id"
            >
              <span>{{ category.label }}</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
 props: ['name', 'title', 'image', 'categories', 'desc'],
}
</script>

<style lang="scss">
.vm--modal{
  display: flex;
  height: 600px !important;
  top: 50% !important;
  left: 50% !important;
  width: 80% !important;
  transform: translate(-50%, -50%);
}

.modal-image{
  width: 50%;
  img{
    width: 100%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}
</style>