<template>
<div class="section-title">
  <span>{{subtitle}}</span>
  <h2>{{title}}</h2>
</div>
</template>

<script>
export default {
  props: ['title', 'subtitle'],
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

// SECTION TITLE
.section-title {
  margin: 4rem 0 2rem;

  @include breakpoint-up(sm) {
    margin: 5rem 0 4rem;
    text-align: center;
  }

  span,
  h2 {
    width: 100%;
    display: block;
    text-align: center;
  }

  span {
    @include fontSize(16px);
    text-transform: uppercase;
  }

  h2 {
    margin-top: 10px;
    font-weight: 800;

    @include breakpoint(xs) {
      @include fontSize(30px);
    }
  }
}
</style>
