<template>
<div class="page single-page single-farmer">
  <client-only>
    <!-- Link to go back to the previous page-->
    <div class="uk-container uk-container-large" v-if="!loading">
      <GoBack />
      <section class="single-page__section">
        <div class="single-page__image" :style=" 'background-image:url(' + api_url + farmer.image.url + ');'  "></div>
        <div class="single-page__text">
          <div class="single-page__text-infos">
            <div>
              <p>{{farmer.postal}} {{farmer.postalName}}</p>
            </div>
            <h1 class="single-page__text-title">{{farmer.name}}</h1>
            <ul class="single-page__text-categories categories">
              <Filters v-for="category in farmer.farmer_categories" :key="category.id" path="/category/" :label="category.label" :id="category.id" :name="category.name" />
            </ul>
            <p class="single-page__text-desc">{{farmer.description}}</p>
            <div class="single-page__text-indication">
              <a v-if="farmer.link" :href="farmer.link" target="_blank" class="link">
                <p>site </p>
                <font-awesome-icon icon="arrow-right" class="icon" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--in container-->

    <div class="uk-container uk-container-large">
      <section class="single-page__section section-border">
        <div class="single-page__box single-page__box-left farmer-infos">
          <h2 class="single-page__box-title">Infos</h2>
          <div>
            <h3>Adresse</h3>
            <address>
              {{farmer.address}}<br />
              {{farmer.postal}} {{farmer.postalName}}
            </address>
            <h3>Horaire</h3>
            <ul>
              <li v-for="item in farmer.horaire" :key="item.id">
                <p v-if="item.fermeture == true ">{{item.day}}: {{item.heure}}</p>
                <p v-if="item.fermeture !== true ">{{item.day}}: Fermé</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="single-page__box single-page__box-right farmer-stock">
          <h2 class="single-page__box-title">Disponibilité des produits</h2>
          <div class="table">
            <table class="uk-table uk-table-hover uk-table-divider">
              <thead>
                <tr>
                  <th>Produits</th>
                  <th>Quantité</th>
                  <th>Prix</th>
                  <th>Disponibilité</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="ingredient in farmer.farmerIngredient" :key="ingredient.id">
                  <td>{{ingredient.name}}</td>
                  <td>{{ingredient.quantity}}{{ingredient.unity}}</td>
                  <td>{{ingredient.price}}</td>
                  <td v-if="ingredient.stock == true ">En stock</td>
                  <td v-if="ingredient.stock !== true ">indisponible</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>

    <section class="uk-container uk-container-large farmer-calendar">
      <SectionTitle title="Apprenez à manger au fil des saisons" subtitle="fruits légumes suisse" />
      <div class="cards-images">
        <CardImage calss="calendar" :image="require(`@/static/woman.svg`)" link="/calendar" title="Cuisiner en toute saison" desc="Avec le calendrier, vous saurez quand est-ce la période de votre légume favoris" />
      </div>
    </section>
    <!-- CALENDAR CTA -->

  </client-only>
</div>
</template>

<script>
import farmerQuery from '~/apollo/queries/farmer/farmer';
import recipesQuery from '~/apollo/queries/recipe/recipes';
import CardImage from '~/components/cards/CardImage'
import Filters from '~/components/filters/Filters'

export default {
  components: {
    Filters,
    CardImage
  },
  data() {
    return {
      loading: 0,
      farmer: Object,
      api_url: "http://localhost:4001",
      recipes: [],
      flickityOptions: {
        prevNextButtons: true,
        pageDots: true,
        draggable: true,
        initialIndex: 1,
        setGallerySize: true
      }
    }
  },
  apollo: {
    $loadingKey: 'loading',
    recipes: {
      prefetch: true,
      query: recipesQuery
    },
    farmer: {
      prefetch: true,
      query: farmerQuery,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    }
  }
}
</script>
