<template>
<div>
  <div class="uk-container uk-container-large farmers page">
    <h1>Tous les producteurs</h1>
    <div class="bar__search">
      <ul class="card-body__categories categories">
        <Filters v-for="categoryfarmer in farmerCategories" :key="categoryfarmer.id" path="/farmer-categories/" :label="categoryfarmer.label" :id="categoryfarmer.id" :name="categoryfarmer.name" />
      </ul>
      <form class="uk-search uk-search-small ">
        <span uk-search-icon></span>
        <input class="uk-search-input" v-model="query" type="search" placeholder="Nom de la ville...">
      </form>
    </div>
    <!-- farmer cards-->
    <section class="cards">
      <div class="cards-wrapper" v-for="farmer in filteredList" v-bind:key="farmer.id">
        <div class="card card-farmer">
          <div class="card-image" :style=" 'background-image:url(' + api_url + farmer.image.url + ');'  "></div>
          <div class="card-body">
            <p>{{farmer.postal}} {{farmer.postalName}}</p>
            <h2 class="card-body__title">{{farmer.name}}</h2>
            <ul class="card-body__categories categories">
              <Filters v-for="category in farmer.farmer_categories" :key="category.id" path="/farmer-categories/" :label="category.label" :id="category.id" :name="category.name" />
            </ul>

            <p class="card-farmer__desc">{{farmer.description}}</p>
            <router-link :to="{ name: 'farmers-id', params: { id: farmer.id }}" tag="a" class="link">
              <p>En savoir plus</p>
              <font-awesome-icon icon="arrow-right" class="icon" />
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- If no farmers have been found -->
  <div class="uk-container uk-container-center uk-text-center" v-if="filteredList.length == 0">
    <img src="https://assets-ouch.icons8.com/preview/19/52de2377-696e-4194-8c63-0a81aef60b4f.png" height="800" width="800">
    <p>No farmers found</p>
  </div>

</div>
</template>

<script>
import Filters from '~/components/filters/Filters'
import farmersQuery from '~/apollo/queries/farmer/farmers'
import CategoriesFarmerQuery from '~/apollo/queries/category/categoriesFarmer'

export default {
  components: {
    Filters
  },
  data() {
    return {
      // Initialize an empty farmers variabkle
      farmers: [],
      farmerCategories: [],
      query: '',
      api_url: "http://localhost:4001",
    }
  },
  apollo: {
    farmers: {
      prefetch: true,
      query: farmersQuery
    },
    farmerCategories: {
      prefetch: true,
      query: CategoriesFarmerQuery
    },
  },
  computed: {
    // Search system
    filteredList() {
      return this.farmers.filter(farmer => {
        return farmer.postalName.toLowerCase().includes(this.query.toLowerCase())
      })
    },
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/main.scss';

.cards {
  margin: 0 10px;

  @include breakpoint-up(sm) {
    margin: 5rem 0;
    justify-content: flex-start;
  }

  &-wrapper {
    margin-bottom: 2rem;
  }
}
</style>
